html,
body {
  font-family: sans-serif;
}

.chart {
  padding: 20px;
}

table {
  width: 100%;
}

.chartTitle {
  text-align: center;
}

.bars td {
  vertical-align: bottom;
  text-align: center;
}

.bars div:hover {
  opacity: 0.6;
}

.barColor {
  background: #C55B28;
}

.barDate {
  padding: 2px;
  display: inline-block;
}
