#num-installations {
  text-align: center;
  color: #c55b28;
  font-size: 24px;
  font-weight: bold;
  padding: 0.2em;
}

#mapid {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

table {
  vertical-align: top;
}

th.installation-name-header {
  width: 20%;
}

th.installation-country-header {
  width: 10%;
}

th.installation-description-header {
  width: 70%;
}

.installation-name-suggest-add {
  font-style: italic;
}

.installation-country-suggest-add {
  font-style: italic;
}

.installation-description-suggest-add {
  font-style: italic;
}

.installation-name-row {
}

.installation-country-row {
}

.installation-description-row {
}
