body {
  font-family: 'Muli',Helvetica,sans-serif !important;
  font-size:14px;
  line-height:23px;
  color: #1e1e1e;
}

#num-installations {
  text-align: center;
  color: #c55b28;
  font-size: 18px;
  padding: 0.2em;
}

#mapid {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

table td {
  vertical-align: top;
}

th.installation-name-header {
  width: 20%;
}

th.installation-country-header {
  width: 10%;
}

th.installation-year-header {
  width: 10%;
}

th.installation-description-header {
  width: 60%;
}

.installation-name-suggest-add {
  font-style: italic;
}

.installation-country-suggest-add {
  font-style: italic;
}

.installation-year-suggest-add {
  font-style: italic;
}

.installation-description-suggest-add {
  font-style: italic;
}

.installation-name-row {
}

.installation-country-row {
}

.installation-year-row {
}

.installation-description-row {
}
