{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block extra_header_info %}
<style type="text/css">

</style>
{% endblock %}

{% block main_content %}
<h1 style="color:#006699;">data checks{% if subtitle %}: {{ subtitle }}{% endif %}</h1>
{% if view_limit %}
    <h4 class="text-muted">Limited to first {{ view_limit }} file{{ view_limit|pluralize }}</h4>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <p class="text-muted"><a href="{% url 'view_qc_dashboard' %}">&lt;&lt; return to dashboard</a></p>
        <p class="text-muted"><a href="{% url 'view_broken_notifications' %}">&lt;&lt; return to broken notifications</a></p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>For this metric, "broken" refers to a notifcation that references a
        non-existent object.</p>
        <p>For example a notification may reference a
        Dataset object that was (correctly) deleted.</p>
    </div>
</div>
<div class="row">
    {# bit of ugly row making here--all 1 row but bootstrap does 2/row or 1/row #}
    {% for bi in broken_info_list %}
    <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading text-center"><b>{{ bi.model_name}}</b></div>
          <div class="panel-body">

                <p>Notifications referencing a <b>{{ bi.model_name}}</b> object.</p>
                <p>Possible notice types: {{ bi.notice_types|join:", " }}</p>
                <table class="table">
                    <tr>
                        <th>All Notifications</th>
                        <td>
                            <span class="label label-info">{{ bi.cnt_all_notifications|intcomma }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Broken Notifications &nbsp;<span style="font-weight:normal">|</span> &nbsp; % Broken</th>
                        <td>
                            <span class="label label-{% if bi.cnt_broken_notifications == 0 %}success{% elif err_class %}{{ err_class }}{% else %}danger{% endif%}">
                                {{ bi.cnt_broken_notifications|intcomma }}
                            </span>
                            &nbsp; | &nbsp;
                            <span class="label label-{% if bi.cnt_broken_notifications == 0 %}success{% elif err_class %}{{ err_class }}{% else %}danger{% endif%}">
                                {{ bi.percent_broken_string }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th># Unique Non-existent {{ bi.model_name}} Objects</th>
                        <td>
                            <span class="label label-{% if bi.cnt_unique_objects == 0 %}success{% elif err_class %}{{ err_class }}{% else %}danger{% endif%}">
                                {{ bi.cnt_unique_objects|intcomma }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th># Unique Affected Users</th>
                        <td>
                            <span class="label label-{% if bi.cnt_unique_users == 0 %}success{% elif err_class %}{{ err_class }}{% else %}danger{% endif%}">
                                {{ bi.cnt_unique_users|intcomma }}
                            </span>
                        </td>
                    </tr>
                </table>

                {% if bi.cnt_unique_users > 0 %}
                    {% include "notification_user_table.html" %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
