{% extends 'base.html' %}
{% block extra_header_info %}
<style type="text/css">

</style>
{% endblock %}

{% block main_content %}
<h1 style="color:#006699;">Health Checks</h1>

<div class="row">
{% with stat=zstats.cnt_local_zero_null.stat name=zstats.cnt_local_zero_null.name desc=zstats.cnt_local_zero_null.desc %}
    {% include "one_stat_panel.html" %}
{% endwith %}
{% with stat=zstats.cnt_harvested_zero.stat name=zstats.cnt_harvested_zero.name desc=zstats.cnt_harvested_zero.desc %}
    {% include "one_stat_panel.html" %}
{% endwith %}
</div>

<div class="row">
    <div class="col-xs-12">
        <hr />
        <p class="text-muted">Updated {% now "F jS Y H:i P" %}</p>
    </div>
</div>

{% endblock %}
