{% extends 'base.html' %}
{% load humanize %}
{% block extra_header_info %}
<style type="text/css">

</style>
{% endblock %}

{% block main_content %}
<h1 style="color:#006699;">Health Checks{% if subtitle %}: {{ subtitle }}{% endif %}</h1>


<div class="row">
    <div class="col-xs-12">
        <p class="text-muted"><a href="{% url 'view_filesize_zero' %}">&lt;&lt; return to dashboard</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="color:#333;">
        <p style="font-size:150%">
            Found: <b>{{ dfiles|length }}</b> File{{ dfiles|length|pluralize }}
            within <b>{{ num_datasets|intcomma }}</b> dataset{{ num_datasets|pluralize }}
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>DataFile Id</th>
                    {% comment %}
                    <th>Dataset Id</th>

                    {#<th>name / description</th>#}
                    {#<th>description</th>#}
                    <th>contentType</th>
                    {% endcomment %}
                    <th>filesystemname</th>
                    <th>filesize_bytes</th>
                    <th>checksum type</th>
                    <th>checksum</th>
                    <th>restricted</th>
                    <th>download</th>
                    <th>created</th>
                    <th>published</th>
                </tr>
            <tbody>
        {% for f in dfiles %}
            {% ifchanged f.dvobject.owner_id %}
            <tr>
                <td colspan="10" class="text-info" ><h4>Dataset: <a href="{{ installation_url }}/dataset.xhtml?id={{ f.dvobject.owner_id }}" target="_blank">{{ f.dvobject.owner_id }}</a></h4></td>
            </tr>
            {% endifchanged %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ installation_url }}/file.xhtml?fileId={{ f.dvobject.id }}" target="_blank">{{ f.dvobject.id }}</a></td>
                {% comment %}
                <td><a href="{{ installation_url }}/dataset.xhtml?id={{ f.dvobject.owner_id }}" target="_blank">{{ f.dvobject.owner_id }}</a></td>
                <td><b>{{ f.label }}</b>
                    {% if f.description %}
                        <br /><small>{{ f.description }}</small>
                    {% endif %}</td>
                <td>{{ f.contentType }}</td>

                {% endcomment %}

                <td><a href="{{ installation_url }}/file.xhtml?fileId={{ f.dvobject.id }}" target="_blank">{{ f.filesystemname }}</a></td>
                <td>{% if not f.filesize %}
                        (null)
                    {% else %}
                        {{ f.filesize|intcomma }}
                    {% endif %}
                </td>
                <td>{{ f.checksumtype }}</td>
                <td>{{ f.checksumvalue }}</td>
                <td>{{ f.restricted }}</td>
                <td><a href="{{ installation_url }}/api/access/datafile/{{ f.dvobject.id }}">download</a></td>
                <td>{{ f.dvobject.createdate|date:"M d, Y" }}</td>
                <td>{% if f.dvobject.publicationdate %}
                    {{ f.dvobject.publicationdate|date:"M d, Y" }}
                    {% else %}
                    (unpublished)
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="10">(no files)</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr />
        <p class="text-muted">Updated {% now "F jS Y H:i P" %}</p>
    </div>
</div>

{% endblock %}
