{% extends 'base.html' %}
{% load humanize %}
{% block extra_header_info %}
<style type="text/css">

</style>
{% endblock %}

{% block main_content %}
<h1 style="color:#006699;">data checks{% if subtitle %}: {{ subtitle }}{% endif %}</h1>
{% if view_limit %}
    <h4 class="text-muted">Limited to first {{ view_limit }} file{{ view_limit|pluralize }}</h4>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <p class="text-muted"><a href="{% url 'view_qc_dashboard' %}">&lt;&lt; return to dashboard</a></p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="color:#333;">
        <p style="font-size:150%">
            Found: <b>{{ dfiles|length|intcomma }}</b> File{{ dfiles|length|pluralize }}
            within <b>{{ num_datasets|intcomma }}</b> dataset{{ num_datasets|pluralize }}
        </p>
        {% if df_first_created and df_last_created %}

        <p style="line-height:180%; padding-left:20px;">
            {% if total_cnt > view_limit %}The dates below apply to all <b>{{ total_cnt|intcomma }}  file{{ total_cnt|pluralize }}</b> found--not only the <b>{{ view_limit }} file{{ view_limit|pluralize }}</b> listed below.<br />{% endif %}


            Earliest create date: <b>{{ df_first_created.dvobject.createdate|date:"M d, Y" }}</b>
            (id: <a href="{{ installation_url }}/file.xhtml?fileId={{ df_first_created.dvobject.id }}" target="_blank">{{ df_first_created.dvobject.id }}</a>)
            <br />
            Last create date: <b>{{ df_last_created.dvobject.createdate|date:"M d, Y" }}</b>
                (id: <a href="{{ installation_url }}/file.xhtml?fileId={{ df_last_created.dvobject.id }}" target="_blank">{{ df_last_created.dvobject.id }}</a>)
        </p>
        {% endif %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>DataFile Id</th>
                    {% comment %}
                    <th>Dataset Id</th>

                    {#<th>name / description</th>#}
                    {#<th>description</th>#}
                    <th>contentType</th>
                    {% endcomment %}
                    <th>filesystemname</th>
                    <th>filesize_bytes</th>
                    <th>checksum type</th>
                    <th>checksum</th>
                    <th>content type</th>
                    <th>restricted</th>
                    <th>ingest status</th>
                    <th>download</th>
                    <th>created</th>
                    <th>published</th>
                </tr>
            <tbody>
        {% for f in dfiles %}
            {% ifchanged f.dvobject.owner_id %}
            <tr>
                <td colspan="12" class="text-info" ><h4>Dataset: <a href="{{ installation_url }}/dataset.xhtml?id={{ f.dvobject.owner_id }}" target="_blank">{{ f.dvobject.owner_id }}</a>
                </h4>
                {% if f.dataverse %}
                    <h5 style="color:#333">Dataverse:
                        <a href="{{ installation_url }}/dataverse/{{ f.dataverse.alias }}">{{ f.dataverse.name }}</a>
                        {% if f.dataverse.affiliation %}
                            <br />Affiliation: {{ f.dataverse.affiliation }}
                        {% endif %}
                    </h5>
                {% endif %}


                </td>
            </tr>
            {% endifchanged %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ installation_url }}/file.xhtml?fileId={{ f.dvobject.id }}" target="_blank">{{ f.dvobject.id }}</a></td>
                {% comment %}
                <td><a href="{{ installation_url }}/dataset.xhtml?id={{ f.dvobject.owner_id }}" target="_blank">{{ f.dvobject.owner_id }}</a></td>
                <td><b>{{ f.label }}</b>
                    {% if f.description %}
                        <br /><small>{{ f.description }}</small>
                    {% endif %}</td>
                <td>{{ f.contentType }}</td>

                {% endcomment %}

                <td><a href="{{ installation_url }}/file.xhtml?fileId={{ f.dvobject.id }}" target="_blank">{{ f.filesystemname }}</a></td>
                <td>{% if f.filesize == 0 %}
                        <span class="label label-warning">zero</span>
                    {% elif not f.filesize %}
                        <span class="label label-danger">null</span>
                    {% else %}
                        {{ f.filesize|intcomma }}
                    {% endif %}
                </td>
                <td>{{ f.checksumtype }}</td>
                <td>{% if not f.checksumvalue %}
                        <span class="label label-danger">missing</span>
                    {% else %}
                        {{ f.checksumvalue }}
                    {% endif %}
                </td>
                <td>{{ f.contenttype }}</td>
                <td>{{ f.restricted }}</td>
                <td>{% if f.ingeststatus == INGEST_STATUS_ERROR %}
                        <span class="label label-danger">error</span>
                    {% elif f.ingeststatus == INGEST_STATUS_NONE %}
                        <span class="label label-success">ok</span>
                    {% elif f.ingeststatus == INGEST_STATUS_SCHEDULED %}
                        <span class="label label-warning">scheduled</span>
                    {% elif f.ingeststatus == INGEST_STATUS_INPROGRESS %}
                        <span class="label label-warning">in progress</span>
                    {% else %}
                        <span class="label label-danger">unknown status: {{ f.ingeststatus }}</span>
                    {% endif %}
                </td>
                <td><a href="{{ installation_url }}/api/access/datafile/{{ f.dvobject.id }}">download</a></td>
                <td>{{ f.dvobject.createdate|date:"M d, Y" }}</td>
                <td>{% if f.dvobject.publicationdate %}
                    {{ f.dvobject.publicationdate|date:"M d, Y" }}
                    {% else %}
                    (unpublished)
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="12">
                    <span class="label label-success">(no files)</span>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr />
        <p class="text-muted">Updated {% now "F jS Y H:i P" %}</p>
    </div>
</div>

{% endblock %}
