{% load humanize %}
    <!-- start: stat box -->
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
         <!--div class="panel-heading text-center"><b>{{ name }}</b></div-->
          <div class="panel-body text-center">
                <h1 style="font-size: 350%;">
                    <span <span class="label label-{% if stat_info.stat == 0 %}success{% elif err_class %}{{ err_class }}{% else %}warning{% endif%}">
                        {{ stat_info.stat|intcomma }}
                    </span>
                </h1>

                <br /><p style="font-size: 110%;">
                {% if stat_info.url_name %}
                    <a href="{% url  stat_info.url_name %}" style="text-decoration:underline;">{{ stat_info.name }}</a>
                {% else %}
                    {{ stat_info.name }}
                {% endif %}
                </p>
          </div>
          <div class="panel-footer text-info">
              {{ stat_info.desc }}
          </div>
      </div>
    </div>
    <!-- end: stat box -->
