{% extends 'base.html' %}
{% block extra_header_info %}
<style type="text/css">

</style>
{% endblock %}

{% block main_content %}
<h1 style="color:#006699; font-size:150%;">dv data checks{% if subtitle %}: {{ subtitle }}{% endif %}</h1>
<hr />
<p class="text-muted">Generated {% now "F jS Y H:i P" %} (may be cached)</p>


<!-- File size 0 or null -->
<div class="row">
    <div class="col-xs-12"><h2 class="text-muted">File size 0 or null</h2></div>
</div>
<div class="row">
{% with stat_info=size_zero_stats.cnt_local_zero_null err_class="danger" %}
    {% include "one_stat_panel.html" %}
{% endwith %}
{% with stat_info=size_zero_stats.cnt_harvested_zero %}
    {% include "one_stat_panel.html" %}
{% endwith %}
</div>

<!-- Files with Ingest Status of "Error" -->
<div class="row">
    <div class="col-xs-12"><h2 class="text-muted">Ingest Status: "Error" or "In Progress"</h2></div>
</div>
<div class="row">
{% with stat_info=ingest_stats.cnt_ingest_error err_class="danger" %}
    {% include "one_stat_panel.html" %}
{% endwith %}
{% with stat_info=ingest_stats.cnt_ingest_in_progress %}
    {% include "one_stat_panel.html" %}
{% endwith %}
</div>


<!-- No checksum -->
<div class="row">
    <div class="col-xs-12"><h2 class="text-muted">No checksum</h2></div>
</div>
<div class="row">
{% with stat_info=checksum_stats.cnt_no_checksum_local err_class="danger" %}
    {% include "one_stat_panel.html" %}
{% endwith %}
{% with stat_info=checksum_stats.cnt_no_checksum_harvested err_class="warning" %}
    {% include "one_stat_panel.html" %}
{% endwith %}
</div>

<!-- Files with Unknown Content Types -->
<div class="row">
    <div class="col-xs-12"><h2 class="text-muted">Files with Unknown Content Types</h2></div>
</div>
<div class="row">
{% with stat_info=unknown_ctype_stats.cnt_no_content_type new_win=1 %}
    {% include "one_stat_panel.html" %}
{% endwith %}
{% with stat_info=unknown_ctype_stats.percent_no_content_type new_win=1 %}
    {% include "one_stat_panel.html" %}
{% endwith %}
</div>

<!-- User Logins -->
<div class="row">
    <div class="col-xs-12"><h2 class="text-muted">
        User Logins</h2>
      <p>(<a href="{% url 'view_new_user_counts' %}">new user counts</a>)</p></div>
</div>
<div class="row">
    {% include "stat_panel_user_info.html" %}
</div>

<!-- Notification Stats -->
<div class="row">
    <div class="col-xs-12"><h2 class="text-muted">Notification Stats</h2>
        <h4 class="text-danger">experimental</h4>
    </div>
</div>
<div class="row">
{% with stat_info=notification_stats.cnt_broken_notifications err_class="danger" %}
    {% include "one_stat_panel.html" %}
{% endwith %}
{% with stat_info=notification_stats.cnt_undated_notifications err_class="danger" %}
    {% include "one_stat_panel.html" %}
{% endwith %}
</div>
<div class="row">
{% with stat_info=notification_stats.cnt_unread_old_notifications err_class="danger" %}
    {% include "one_stat_panel.html" %}
{% endwith %}
{% with stat_info=notification_stats.cnt_old_unread_notifications2 err_class="danger" %}
    {% include "one_stat_panel.html" %}
{% endwith %}
</div>
<div class="row">
{% with stat_info=notification_stats.cnt_unread_notifications %}
    {% include "one_stat_panel.html" %}
{% endwith %}
{% with stat_info=notification_stats.cnt_read_notifications err_class="success" %}
    {% include "one_stat_panel.html" %}
{% endwith %}
</div>




<div class="row">
    <div class="col-xs-12">
        <hr />
        <p class="text-muted">Updated {% now "F jS Y H:i P" %}</p>
    </div>
</div>

{% endblock %}
