{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block extra_header_info %}
<style type="text/css">

</style>
{% endblock %}

{% block main_content %}
<h1 style="color:#006699;">data checks{% if subtitle %}: {{ subtitle }}{% endif %}</h1>
{% if view_limit %}
    <h4 class="text-muted">Limited to first {{ view_limit }} file{{ view_limit|pluralize }}</h4>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <p class="text-muted"><a href="{% url 'view_qc_dashboard' %}">&lt;&lt; return to dashboard</a></p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-8">

        <h2>New Users for {{selected_year}}</h2>
        <p>Count the number of users added each month.</p>
        <p><i>Note: The create time of a new user was added in July 18th, 2017 with the release of Dataverse 4.7.1.  Prior to this date, the actual new user numbers are not available.</i></p>

        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Total HU Users</th>
                    <th>Total non-HU Users</th>
                    <th>Total Users</th>
                    <th>&nbsp;</th>
                    <th>New Monthly HU Users</th>
                    <th>New Monthly non-HU Users</th>
                    <th>New Monthly Users</th>
                </tr>
            </thead>
            <tbody>
                {% for info in new_user_stats.monthly_user_counts %}
                <tr>
                    <td>{{ info.label }} {{ new_user_stats.selected_year }}</td>
                    <td class="text-right">{{ info.total_hu_users|intcomma }}</td>
                    <td class="text-right">{{ info.total_non_hu_users|intcomma }}</td>
                    <td class="text-right"><b>{{ info.total_users|intcomma }}</b></td>
                    <td>&nbsp;</td>
                    <td class="text-right">{{ info.monthly_hu_new_users|intcomma }}</td>
                    <td class="text-right">{{ info.monthly_non_hu_new_users|intcomma }}</td>
                    <td class="text-right"><b>{{ info.monthly_new_users|intcomma }}</b></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">(no user data)</td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
</div>
{% endblock %}
