{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block extra_header_info %}
<style type="text/css">

</style>
{% endblock %}

{% block main_content %}
<h1 style="color:#006699;">data checks{% if subtitle %}: {{ subtitle }}{% endif %}</h1>
{% if view_limit %}
    <h4 class="text-muted">Limited to first {{ view_limit }} file{{ view_limit|pluralize }}</h4>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <p class="text-muted"><a href="{% url 'view_qc_dashboard' %}">&lt;&lt; return to dashboard</a></p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Count the number of users either logging in or using the API.</p>
        <p><i>Note: These numbers were not tracked until July 18th, with the release of Dataverse 4.7.1</i>.</p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Time Period</th>
                    <th># Users Who Logged In</th>
                    <th># Users Who Made an API Call</th>
                    <th>Total</th>
                </tr>
                {% for user_info in user_login_stats %}
                <tr>
                    <td>Last <b>{{ user_info.num_days }}</b> Days</td>
                    <td class="text-right">{{ user_info.cnt_logins|intcomma }}</td>
                    <td class="text-right">{{ user_info.cnt_apikey_use|intcomma }}</td>
                    <td class="text-right"><b>{{ user_info.total_count|intcomma }}</b></td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
</div>
{% endblock %}
