/*body*/
html, body {
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-size: 13px;
    line-height: 1.5;
    font-family: "Muli",Helvetica,sans-serif !important;
}
/*metrics*/
.metrics-wrapper {
    padding:15px;
    text-align:center;
}
.metrics-wrapper span {
    display: inline-block;
    width: 24.5%;
    text-align: center;
    color: #c55b28;
    font-size: 16px;
}
/*map*/
#map {
    height: 90%;
    width: 90%;
    max-height: 480px;
    min-height: 280px;
    max-width: 980px;
    min-width: 350px;
    margin: auto;
    margin-bottom: 0;
    position: relative;
    top: 0px;
}
.large {
    width: 56px;
    height: 56px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
    border: 2px solid orange; 
    overflow: hidden;
    background-color: white;
    float: left;
}
.small {            
    width: 46px;
    height: 46px;
    margin: 5px;
    margin-top: 12px;
    margin-bottom: 0px;
    border: 2px solid black;
    overflow: hidden;
    background-color: white;
    float: left;
}
img.img{
    max-width: 100%;
    height: auto;
    display: block;
}
.controlBar{
    position: relative;
    bottom: 200px;
    width: 75%;
    overflow: show;
}
.controlUI {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    height: 65px;
    overflow: auto;
    margin: 0;
}
.controlUI2 {
    width: 100%;
    height: 62px;
    margin: auto;
    display: inline-block;
    overflow: auto;
}
.rightArrow {
    height: 40px;
    width: 20px;
    position: absolute;
    top: 17px;
    right: -25px;
}
.leftArrow {
    height: 40px;
    width: 20px;
    position: absolute;
    top: 17px;
    left: -25px;
}
.window {
    max-width:500px;
    width: 100%;
    max-height:289px;
    height:50%;
    border:0;
    margin:0
}
h2.title {
    margin: 0;
    color: #c55b28;
}
h2.title.preview {
    margin: 1em 0 .5em 0;
}
h2.title a, h2.title a:hover {
    color: #c55b28;
    text-decoration: none;
}
.window ul.metrics, .window ul.metrics li {
    margin: 0;
    padding: 0;
    list-style: none;
}