{% extends "base.html" %}
{% load humanize %}
{% block maincontent %}
<a name="top"></a>

<h1>Test Queries</h1>
<h3>Username: <span style="color:#006699;">{{ username }}</span></h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Dataverses</th>
                    <th>Datasets</th>
                    <th>DataFiles</th>
                </tr>
            </thead>
            <tr class="text-right">
                <td><b>Direct</b></td>
                <td>{{ d2me.get_dataverse_ids|length|intcomma }}</td>
                <td>{{ d2me.initial_dataset_ids|length|intcomma }}</td>
                <td>{{ d2me.initial_file_ids|length|intcomma }}</td>
            </tr>
            <tr class="text-right">
                <td><b>Indirect*</b></td>
                <td>(n/a)</td>
                <td>{% if d2me.secondary_dataset_ids|length == 0 %}
                        (n/a)
                    {% else %}
                        {{ d2me.secondary_dataset_ids|length|intcomma }}
                    {% endif %}
                </td>
                <td>{{ d2me.secondary_file_ids|length|intcomma }}</td>
            </tr>
            <tr class="text-right">
                <td><b>Totals</b></td>
                <td>{{ d2me.get_dataverse_ids|length|intcomma }}</td>
                <td>{{ d2me.get_dataset_ids|length|intcomma }}</td>
                <td>{{ d2me.get_file_ids|length|intcomma }}</td>
            </tr>
            <tr class="text-right">
                <td><b>Grand Total</b></td>
                <td colspan="3"><b>{{ d2me.get_total_object_count|intcomma }}</b></td>

        </table>
    </div>
    {% comment %}
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-4" style="border:1px solid #ccc; padding:20px; ">
        <form action="{% url 'view_test_query_with_username' username %}" method="get">
            {{ filter_form }}

    <input type="submit" value="submit" />
</form>
    </div>    {% endcomment %}

    <div class="col-md-12">
       * May overlap with direct counts -- e.g. Totals won't add up by column
    </div>
</div>
<hr />
<a href="#role_assignments">Role Assignments</a>
 &nbsp;|&nbsp; <a href="#dv_objects">DV Objects (Direct)</a>
 &nbsp;|&nbsp; <a href="#ds_indirect">Indirect Datasets</a>
 &nbsp;|&nbsp; <a href="#df_indirect">Indirect Files</a>
 &nbsp;|&nbsp; <a href="#roles">Roles</a>
<hr />
<a name="role_assignments"></a>
<div class="panel panel-default">
  <div class="panel-heading">Role Assignment query (<a href="#top">top</a>)</div>
  <div class="panel-body">
      query: <pre>explain analyze {{ d2me.assign_query }}</pre>

      <h3># direct assignments: {{ d2me.direct_role_assignments|length }}</h3>
      {% comment %}
      <table class="table">
          <thead>
            <th>#</th>
            <th>id</th>
            <th>assigneeidentifier</th>
            <th>definitionpoint_id</th>
            <th>role_id</th>
          </thead>
      {% for dr in d2me.direct_role_assignments %}
          <tr>
               <td>{{ forloop.counter }}</td>
              <td>{{ dr.id }}</td>
              <td>{{ dr.assigneeidentifier }}</td>
              <td>{{ dr.definitionpoint_id }}</td>
              <td>{{ dr.role_id }}</td>
          </tr>
      {% endfor %}
       </table>
      {% endcomment %}
  </div>
</div>
<a name="dv_objects"></a>
<div class="panel panel-default">
  <div class="panel-heading">Dv Object DIRECT  (<a href="#top">top</a>)</div>
  <div class="panel-body">
      query: <pre>explain analyze {{ d2me.dvobject_query }}</pre>
      <b>count:</b> {{ d2me.direct_dvobject_assignments|length|intcomma }}

   <hr />
      {% comment %}

      <table class="table">
          <thead>
            <th>#</th>
            <th>id</th>
            <th>dtype</th>
            <th>modificationtime</th>
            <th>owner_id</th>
          </thead>
      {% for dr in d2me.direct_dvobject_assignments %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ dr.id }}</td>
              <td>{{ dr.dtype }}</td>
              <td>{{ dr.modificationtime }}</td>
              <td>{{ dr.owner_id }}</td>
          </tr>
      {% endfor %}
       </table>
      {% endcomment %}
  </div>
</div>


<!-- ============== SECONDARY DATASETS ============== -->
<a name="ds_indirect"></a>
<div class="panel panel-default">
  <div class="panel-heading">Indirect Datasets (<a href="#top">top</a>)</div>
  <div class="panel-body">
      query: <pre>explain analyze {{ d2me.secondary_dataset_query }}</pre>
      {% comment %}
      <b>count:</b> {{ secondary_dataset_query_results|length }} (Count may overlap with direct assignments)

     <hr />
      <table class="table">
          <thead>
            <th>#</th>
            <th>id</th>
            <th>dtype</th>
            <th>modificationtime</th>
            <th>owner_id</th>
          </thead>
      {% for dr in secondary_dataset_query_results %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ dr.id }}</td>
              <td>{{ dr.dtype }}</td>
              <td>{{ dr.modificationtime }}</td>
              <td>{{ dr.owner_id }}</td>
          </tr>
      {% endfor %}
       </table>
      {% endcomment %}
  </div>
</div>


<!-- ============== SECONDARY FILES ============== -->
<a name="df_indirect"></a>
<div class="panel panel-default">
  <div class="panel-heading">Indirect FILES (<a href="#top">top</a>)</div>
  <div class="panel-body">
      query: <pre>explain analyze {{ d2me.secondary_file_query }}</pre>
      {% comment %}
      <b>count:</b> {{ secondary_file_query_results|length|intcomma }} (Count may overlap with direct assignments)

    <hr />
      <table class="table">
          <thead>
            <th>#</th>
            <th>id</th>
            <th>dtype</th>
            <th>modificationtime</th>
            <th>owner_id</th>
          </thead>
      {% for dr in secondary_file_query_results %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ dr.id }}</td>
              <td>{{ dr.dtype }}</td>
              <td>{{ dr.modificationtime }}</td>
              <td>{{ dr.owner_id }}</td>
          </tr>
      {% endfor %}
       </table>
      {% endcomment %}

  </div>
</div>

<a name="roles"></a>
<div class="panel panel-default">
  <div class="panel-heading">Role query (<a href="#top">top</a>)</div>
  <div class="panel-body">
      query: <pre>explain analyze {{ d2me.role_query }}</pre>
      <ul>
      {% for id, name in d2me.role_lookup.items %}
       <li>{{ id }} - {{ name }}</li>
      {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
