{% extends "base.html" %}
{% block title %}Metrics links{% endblock %}

{% block main_content %}
<div class="panel panel-default">
  <div class="panel-heading">Links</div>
  <div class="panel-body">

      {% if DEBUG %}
          <h4>experimental</h4>
          <div style="padding:0 20px;">

              <b>dataverses</b>
              <ul>
                  <li><a href="{% url 'view_single_dataverse_by_id' 1 %}?pretty=true">{% url 'view_single_dataverse_by_id' 1 %}?pretty=true</a>
                      <ul>
                          <li><a href="{% url 'view_single_dataverse_by_alias' 'root' %}?pretty=true">{% url 'view_single_dataverse_by_alias' 'root' %}?pretty=true</a></li>
                      </ul>
                    </li>
              </ul>

              <br /><b>datasets</b>
              <ul>

                  <li><a href="{% url 'view_single_dataset_by_id' 79678 %}?pretty=true">{% url 'view_single_dataset_by_id' 79678 %}?pretty=true</a>
                      <br />on public: <a href="https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/26935">https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/26935</a>
                  <ul>
                      <li>view: <a href="{% url 'view_single_dataset_test_view' 79678 %}">{% url 'view_single_dataset_test_view' 79678 %}</a></li>
                  </ul>
                 </li>
              </ul>

          </div>

      {% endif %}


    <h4>admin</h4>
        <ul>
            <li><a href="{% url 'admin:index' %}">{% url 'admin:index' %}</a></li>
        </ul>

    <h4>map</h4>
        <ul>
            <li><a href="{% url 'view_map' %}">{% url 'view_map' %}</a></li>
            <li><b style="color:#b94617;">dataverse.org</b>: <a href="{% url 'view_map_dataverse_org' %}?iframe=true">{% url 'view_map_dataverse_org' %}?iframe=true</a></li>
        </ul>

    <h4>visualizations last 12 months</h4>

    <ul>
        <li><a href="{% url 'view_public_visualizations_last12' %}">{% url 'view_public_visualizations_last12' %}</a></li>
        <li><b style="color:#b94617;">dataverse.org</b>: <a href="{% url 'view_public_visualizations_last12_dataverse_org' %}?iframe=true">{% url 'view_public_visualizations_last12_dataverse_org' %}?iframe=true</a></li>
    </ul>

    <h4>other visualizations</h4>
    <ul>
        <li><a href="{% url 'view_public_visualizations' %}">{% url 'view_public_visualizations' %}</a></li>
        <li><a href="{% url 'view_dataverse_tree' %}">{% url 'view_dataverse_tree' %}</a></li>
        <li><a href="{% url 'view_dataverse_tree2' %}">{% url 'view_dataverse_tree2' %}</a></li>
    </ul>

    <div style="padding:0 20px;">
    <br /><b>JSON for trees</b>
    <ul>
        <li><a href="{% url 'get_dataverse_tree_json' %}">{% url 'get_dataverse_tree_json' %}</a> (only if more than 2 deep)</li>
        <li><a href="{% url 'get_dataverse_tree_json' %}?pretty">{% url 'get_dataverse_tree_json' %}?pretty</a> (only if more than 2 deep)</li>

        <li><a href="{% url 'get_dataverse_full_tree_json' %}">{% url 'get_dataverse_full_tree_json' %}</a></li>
        <li><a href="{% url 'get_dataverse_full_tree_json' %}?pretty">{% url 'get_dataverse_full_tree_json' %}?pretty</a></li>
    </ul>
    </div>

    <h4>swagger</h4>
    <ul>
        <li><a href="{% url 'view_dynamic_swagger_spec' %}">{% url 'view_dynamic_swagger_spec' %}</a></li>
        <li><a href="/static/swagger-ui/index.html?url={% url 'view_dynamic_swagger_spec' %}">/static/swagger-ui/index.html?url={% url 'view_dynamic_swagger_spec' %}</a></li>
    </ul>

    {% if DEBUG %}
    <h4>invoke errors</h4>
        <ul>
            <li><a href="{% url 'view_test_404' %}">{% url 'view_test_404' %}</a></li>
            <li><a href="{% url 'view_test_500' %}">{% url 'view_test_500' %}</a></li>
        </ul>
    {% endif %}



    </div>
</div>
{% endblock %}
