{% extends "base.html" %}
{% load humanize %}


{% block title %}content-type unknown{% endblock %}


{% block extra_header_info %}
<style>
    body{padding: 40px;}

    table#tbl_listing th { text-align:center;}

    table#tbl_listing td.rt { text-align:right;}
    table#tbl_listing td.mid { text-align:center;}

</style>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <h2>content-type unknown</h2>
        <p>Below are the DV file extensions for DataFiles with contenttype <i>application/octet-stream</i>.  (See a <a href="{% url 'view_all_file_extension_counts' %}">list of all file extensions</a>, irregardless of content type.)
        </p>
        <p>
            <br /><b>All DV files:</b> {{ all_dv_files_count|intcomma }}</b>
            <br /><b>Unknown files:</b> {{ total_file_count|intcomma }}
            <ul>
                <li><b>Percent unknown of all dv files:</b> {{ percent_unknown }} </li>
                <li><b># Unique extensions of unknown files:</b> {{ number_unique_extensions|intcomma }}</li>
            </ul>
        </p>
        <p class="help-block small">
            Stats generated: {% now "jS F Y H:i T" %}
            <a href="{% url 'view_files_extensions_with_unknown_content_types' %}?tm={% now "U" %}" class="btn-primary btn-xs">force refresh</a>
        </p>
        <table class="table table-bordered table-condensed table-hover" id="tbl_listing">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Extension</th>
                    <th>Count</th>
                    <th>% of Unknown Files</th>
                    <th class="text-center">Get Fix<br />instructions</th>
                </tr>
            </thead>
            {% for info in unknown_counts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{% if info.extension == "" %}
                        (no extension)
                    {% else %}
                    {{ info.extension }}
                    {% endif %}</td>
                <td class="rt">{{ info.count|intcomma }}</td>
                <td class="rt">{{ info.percent_string }}</td>
                <td class="mid"><a href="{% url 'view_fix_extension' %}?ext={{ info.extension }}" class="btn-primary btn-xs">fix</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nothing ("Looking Good Billy Ray! Feeling Good Louis!"")</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<!-- START: Footer/Timestamp -->
   <div class="row">
     <div class="col-xs-12">
         <p class="help-block small">
             Stats generated: {% now "jS F Y H:i T" %}
         </p>
     </div>
   </div>
<!-- END: Footer/Timestamp -->
{% endblock %}
