{% extends "base.html" %}
{% load humanize %}

{% block title %}content-type unknow{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <h2>content-type unknown</h2>
        <p>Below are the DV file extensions for DataFiles with contenttype <i>application/octet-stream</i>
        </p>
        <p>
            <b>Unique extensions:</b> {{ number_unique_extensions|intcomma }}
            <br /><b>All DV files:</b> {{ all_dv_files_count|intcomma }}</b>
            <br /><b>Unknown files:</b> {{ total_file_count|intcomma }}
            <br/ >&nbsp; &nbsp; &nbsp; - <b>percent unknown:</b> ({{ percent_unknown }} of all dv files)
        </p>
        <p class="help-block small">
            Stats generated: {% now "jS F Y H:i T" %}
            <a href="{% url 'view_files_extensions_with_unknown_content_types' %}?tm={% now "U" %}" class="btn-primary btn-xs">force refresh</a>
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Extension</th>
                    <th>Count</th>
                    <th>% of Unknown Files</th>
                </tr>
            </thead>
            {% for info in unknown_counts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{% if info.extension == "" %}
                        (no extension)
                    {% else %}
                    {{ info.extension }}
                    {% endif %}</td>
                <td>{{ info.count|intcomma }}</td>
                <td>{{ info.percent_string }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nothing ("Looking Good Billy Ray! Feeling Good Louis!"")</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<!-- START: Footer/Timestamp -->
   <div class="row">
     <div class="col-xs-12">
         <p class="help-block small">
             Stats generated: {% now "jS F Y H:i T" %}
         </p>
     </div>
   </div>
<!-- END: Footer/Timestamp -->
{% endblock %}
