{% extends "base.html" %}
{% block title %}Metrics links{% endblock %}

{% block main_content %}


<div class="panel panel-default">
  <div class="panel-heading">Links</div>
  <div class="panel-body">


      <div class="row">

          <div class="col-xs-12 col-sm-6">


   {% if DEBUG %}
    <h4>admin</h4>
        <ul>
            <li><a href="{% url 'admin:index' %}">{% url 'admin:index' %}</a></li>
        </ul>
    {% endif %}

    <h4>swagger</h4>
    <ul>
        <li><a href="{% url 'view_dynamic_swagger_spec' %}">{% url 'view_dynamic_swagger_spec' %}</a></li>
        <li><a href="/static/swagger-ui/index.html?url={% url 'view_dynamic_swagger_spec' %}">/static/swagger-ui/index.html?url={% url 'view_dynamic_swagger_spec' %}</a></li>
    </ul>

    <h4>lists</h4>
    <ul>
        <li><a href="{% url 'view_dataverse_list_default' %}">List of published Dataverses (.xlsx)</a></li>
        {#<li><a href="{% url 'view_dataverse_list_default' 'csv' %}">List of published Dataverses (.csv)</a></li>#}
    </ul>

    <h4>map</h4>
        <ul>
            <li><a href="{% url 'view_map' %}">{% url 'view_map' %}</a></li>
            <li><b style="color:#b94617;">dataverse.org</b>: <a href="{% url 'view_map_dataverse_org' %}?iframe=true">{% url 'view_map_dataverse_org' %}?iframe=true</a></li>
            <li><b style="color:#b94617;">dataverse.org</b>: <a href="{% url 'view_homepage_counts_dataverse_org' %}">{% url 'view_homepage_counts_dataverse_org' %}</a>

        </ul>


    <h4>visualizations last 12 months</h4>

    <ul>
        <li><a href="{% url 'view_public_visualizations_last12' %}">{% url 'view_public_visualizations_last12' %}</a></li>
        <li><b style="color:#b94617;">dataverse.org</b>: <a href="{% url 'view_public_visualizations_last12_dataverse_org' %}?iframe=true">{% url 'view_public_visualizations_last12_dataverse_org' %}?iframe=true</a></li>
    </ul>

    <h4>other visualizations</h4>
    <ul>
        <li><a href="{% url 'view_public_visualizations' %}">{% url 'view_public_visualizations' %}</a></li>
        <li><a href="{% url 'view_dataverse_tree' %}">{% url 'view_dataverse_tree' %}</a></li>
        <li><a href="{% url 'view_dataverse_tree2' %}">{% url 'view_dataverse_tree2' %}</a></li>
        <hr />
        <li><a href="{% url 'view_file_bins_by_datasetversion' %}">{% url 'view_file_bins_by_datasetversion' %}</a></li>

    </ul>



    <div style="padding:0 20px;">
    <br /><b>JSON for trees</b>
    <ul>
        <li><a href="{% url 'get_dataverse_tree_json' %}">{% url 'get_dataverse_tree_json' %}</a> (only if more than 2 deep)</li>
        <li><a href="{% url 'get_dataverse_tree_json' %}?pretty">{% url 'get_dataverse_tree_json' %}?pretty</a> (only if more than 2 deep)</li>

        <li><a href="{% url 'get_dataverse_full_tree_json' %}">{% url 'get_dataverse_full_tree_json' %}</a></li>
        <li><a href="{% url 'get_dataverse_full_tree_json' %}?pretty">{% url 'get_dataverse_full_tree_json' %}?pretty</a></li>
    </ul>
    </div>



    {% if DEBUG %}
    <h4>invoke errors</h4>
        <ul>
            <li><a href="{% url 'view_test_404' %}">{% url 'view_test_404' %}</a></li>
            <li><a href="{% url 'view_test_500' %}">{% url 'view_test_500' %}</a></li>
        </ul>
    {% endif %}

</div><!-- end col -->

        {#% if DEBUG %#}
        <!-- start 2nd col -->
        <div class="col-xs-12 col-sm-6">
            <h4>Quality Control</h4>
                <ul>
                    <li><a href="{% url 'view_qc_dashboard' %}">QC dash (start)</a></li>
                </ul>

            <h4>maintenance</h4>
                <ul>
                    <li><a href="{% url 'view_all_file_extension_counts' %}">File extension counts</a></li>
                    <li><a href="{% url 'view_files_extensions_with_unknown_content_types' %}">Extensions of Files classified as unknown</a></li>
                    <li><a href="{% url 'view_monthly_downloads' %}">Bytes Downloaded</a></li>
                </ul>

            <h4>experimental</h4>
            <div style="padding:0 20px;">

                <b>dataverses</b>
                <ul>
                    <li><a href="{% url 'view_single_dataverse_by_id' 1 %}?pretty=true">{% url 'view_single_dataverse_by_id' 1 %}?pretty=true</a>
                        <ul>
                            <li><a href="{% url 'view_single_dataverse_by_alias' 'root' %}?pretty=true">{% url 'view_single_dataverse_by_alias' 'root' %}?pretty=true</a></li>
                        </ul>
                      </li>
                </ul>

                <br /><b>datasets</b>: Test Example of HTML from JSON
                <ul>
                    <li>persistentId id: <a href="{% url 'view_dataset_by_persistent_id' %}?persistentId=doi:10.7910/DVN/26935">{% url 'view_dataset_by_persistent_id' %}?persistentId=doi:10.7910/DVN/26935</a></li>

                    <li>dataset id: <a href="{% url 'view_single_dataset' 53121 %}">{% url 'view_single_dataset' 53121 %}</a></li>


                    <li>dataset verions id: <a href="{% url 'view_dataset_by_version' 79678 %}">{% url 'view_dataset_by_version' 79678 %}</a></li>

                        <br />on public: <a href="https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/26935">https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/26935</a>

                    <li>composable: <a href="{% url 'view_side_by_side1' 53121 %}">{% url 'view_side_by_side1' 53121 %}</a></li>


                    <li>diff: <a href="{% url 'view_differences' 53121 %}">{% url 'view_differences' 53121 %}</a></li>
                </ul>

                <h4>datafile</h4>
                <ul>
                    <li><a href="{% url 'view_table_preview_json' 1480151 %}">Tabular Rows JSON for file id 1480151: {% url 'view_table_preview_json' 1480151 %}</a></li>

                    <li><a href="{% url 'view_table_preview_html' 1480151 %}">Tabular Preview for file id 1480151: {% url 'view_table_preview_html' 1480151 %}</a></li>


                    <li><a href="javascript:var myParam = location.search.split('fileId=')[1];window.location = 'https://services.dataverse.harvard.edu/miniverse/datafile/table-preview-html/' + myParam;">scriptlet preview tabular rows</a></li>

                    <li><a href="javascript:var myParam = location.search.split('persistentId=')[1];window.location = 'https://services.dataverse.harvard.edu/miniverse/dvobjects/api/v1/datasets/by-persistent-id?persistentId=' + myParam;">scriplet html from dataset JSON</a></li>
                </ul>
            </div>
        </div><!-- end 2nd col -->
        {#% endif %#}
        </div><!-- end row -->
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h2>Quick* Dataverse Stats Summary</h2></div>
  <div class="panel-body">
      <div class="row">
          <div class="col-xs-12">
              <h4>See the example</h4>
              <a href="https://services.dataverse.harvard.edu/miniverse/datafile/table-preview-html/2510050&version=1.3" target="_blank">https://services.dataverse.harvard.edu/miniverse/datafile/table-preview-html/2510050&version=1.3</a>
              <h4>Try it</h4>
              <ol>

              <li>Drag this link to your tool bar:  <a href="javascript:var myParam = location.search.split('fileId=')[1];window.location = 'https://services.dataverse.harvard.edu/miniverse/datafile/table-preview-html/' + myParam;">scriptlet preview tabular rows</a></li>
              <li>Go to the published file page of a tabular file. example: <a href="https://dataverse.harvard.edu/file.xhtml?fileId=2510052&version=1.3">https://dataverse.harvard.edu/file.xhtml?fileId=2510052&version=1.3</a> </li>
              <li>Click the link in the toolbar</li>
              </ol>
              * (no promises)
          </div>
      </div>
  </div>
</div>
{% endblock %}
