{% load humanize %}
<!-- NOTES: remember to name the visualization div with viz plus a unique ID# -->
<div class="panel panel-default">
    <div class="panel-body"><pre>{{ JSON_STATS }}
    </pre></div>
</div>
<div id="viz-file-types" class="viz"></div>

<script>
    var datafile_content_type_data = [
    {% for i in datafile_content_type_counts %}
        {"count": {{ i.type_count }}, "ctype": "{{ i.contenttype}}", "name": "{{ i.type_count|intcomma }} ({{ i.percent_string }})", "percent_label" : "{{ i.percent_string }}"}{%if not forloop.last%},{%endif%}{%endfor%}
]

var attributes = [
    {"name": "*", "hex": "#CC0000"}
  ]
  var visualization = d3plus.viz()
    .container("#viz-file-types")  // container DIV to hold the visualization
    .data(datafile_content_type_data)  // data to use with the visualization
    .type("bar")       // visualization type
    .id("name")         // key for which our data is unique on
    .text("name")       // key to use for display text
    .y("count")         // key to use for y-axis
    .x("ctype")          // key to use for x-axis
    .attrs(attributes)
    .color("hex")
    .order({
        "sort": "desc",
        "value": "count"
     })
    .resize(true)
    .title("Top 15 File Types")
    //.footer("{%lorem%}")
    .draw()             // finally, draw the visualization!

  /*
  var visualization = d3plus.viz()
    .container("#viz-file-types")  // container DIV to hold the visualization
    .data(datafile_content_type_data)  // data to use with the visualization
    .type("tree_map")   // visualization type
    .id("name")         // key for which our data is unique on
    .size("count")      // sizing of blocks
    .resize(true)
    .title("Files by Type")
    .draw()             // finally, draw the visualization!
    */
</script>
