{% load humanize %}

<div id="viz-file_content_types" class="viz"></div>
<script>

  var file_content_types = [
    {% for i in file_content_types %}
        {"value":{{ i.type_count }}, "name":"{{ i.short_content_type}}", "group" : "group1", "label":"{{ i.short_content_type}} - {{ i.percent_string }}"}
        {%if not forloop.last%},{%endif%}
    {%endfor%}
    ]

      // instantiate d3plus
      var visualization = d3plus.viz()
        .container("#viz-file_content_types")     // container DIV to hold the visualization
        .data(file_content_types)     // data to use with the visualization
        .type("bubbles")       // visualization type
        .id(["group1", "name"])            // nesting keys
        .text("label")
        .depth(1)              // 0-based depth
        .size("value")
        .resize(true)
        .title("Dataset File Types")                          // key name to size bubbles
        .color("group")        // color by each group
        .draw()                // finally, draw the visualization

</script>
