{% load humanize %}

<div id="viz-file_content_types_top_20" class="viz"></div>
<script>

  var file_content_types_top_20 = [
    {% for i in file_content_types_top_20 %}
        {"File Count":{{ i.type_count }}, "File Type":"{{ i.short_content_type}}", "group" : "group1", "label":"{{ i.short_content_type}} - {{ i.percent_string }}"}
        {%if not forloop.last%},{%endif%}
    {%endfor%}
    ]

      // instantiate d3plus
      var visualization = d3plus.viz()
        .container("#viz-file_content_types_top_20")     // container DIV to hold the visualization
        .data(file_content_types_top_20)     // data to use with the visualization
        .type("bar")       // visualization type
        .id("File Type")        // key for which our data is unique on
        .text("label")
        .y("File Count")         // key to use for y-axis
        .x({"value":"File Type"})          // key to use for x-axis
        .title("Dataset File Types")
        .order({
            "sort": "desc",
            "value": "File Count"
         })
        .color("group")        // color by each group
        .draw()                // finally, draw the visualization

</script>
