{% if dv.theme.logoformat == 'RECTANGLE' %}
<!-- Header Panel --><div style="background:#{{ dv.theme.backgroundcolor }};" id="dataverseHeader" class="container bg-muted">
    <div style="text-align:{{ dv.theme.logoalignment }}; background:#{{ dv.theme.logobackgroundcolor }};" class="dataverseHeaderLogo">
              <img src="{{ dv.theme.logo_link }}" alt="{{ dv.name }}" /></div>
    <div class="dataverseHeaderBlock">
        <div class="dataverseHeaderCell dataverseHeaderName">
            <a href="{{ dv.dv_link }}" class="dataverseHeaderDataverseName" style="color:#{{ dv.theme.linkcolor }};">{{ dv.name }} Dataverse</a><span style="color:#{{ dv.theme.textcolor }};"> ({{ dv.affiliation }})</span></div>
        <div class="dataverseHeaderCell dataverseHeaderLink"><a href="{{ dv.theme.linkurl }}" style="color:#{{ dv.theme.linkcolor }};" target="_blank">{{ dv.theme.tagline }}</a></div>
    </div>
</div>
{% endif %}
{% comment %}
theme": {
            "dataverse": 11,
            "tagline": "http://gking.harvard.edu/",
            "logoformat": "RECTANGLE",
            "logoalignment": "LEFT",
            "logobackgroundcolor": "db6e02",
            "linkcolor": "ffffff",
            "backgroundcolor": "333333",
            "logo": "Gary-King.png",
            "textcolor": "a8a8a8",
            "linkurl": "http://gking.harvard.edu/",
            "id": 34
        },
{% endcomment %}
