{% load humanize %}
<!-- Files Table -->
<div id="datasetForm:tabView:filesTable" class="ui-datatable ui-widget ui-datatable-scrollable" style="margin-right:1px;">
    <div class="ui-datatable-header ui-widget-header ui-corner-top">
        <div id="datasetForm:tabView:filesTable:filesHeaderBlock" class="row">
            <div class="form-horizontal col-sm-7 col-xs-9 text-left">
                <div class="form-group">

                    <div class="col-xs-8"><input id="" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all form-control" type="text" /></div>

                    <div class="col-xs-3"><a href="#" class="ui-commandlink ui-widget btn btn-default">
                                            <span class="glyphicon glyphicon-search"></span> Find
                                        </a>
                    </div>
                </div>
            </div>
            <div id="filesHeaderCount" class="col-xs-6 text-left">
                <!-- Files Count -->
                <span class="highlightBold">{{ ds.files|length }} File{{ ds.files|length|pluralize }}</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

    <b>Files found:</b> {{ ds.files|length }}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>name / description</th>
                {#<th>description</th>#}
                <th>filesystemname</th>
                <th>contentType</th>
                <th>filesize_bytes</th>
                <th>checksum</th>
                <th>restricted</th>
                <th>download</th>
                <th>created</th>
                <th>published</th>
            </tr>
        <tbody>
    {% for f in ds.files %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ f.id }}</td>
            <td><b>{{ f.name }}</b>
                {% if f.description %}
                    <br /><small>{{ f.description }}</small>
                {% endif %}</td>
            <td>{{ f.specs.filesystemname }}</td>
            <td>{{ f.specs.contentType }}</td>
            <td>{{ f.specs.filesize_bytes|intcomma }}</td>
            <td>{{ f.specs.checksum.value }} ({{ f.specs.checksum.type }})</td>
            <td>{{ f.restricted }}</td>
            <td><a href="{{ f.file_access_url }}">download</a></td>
            <td>{{ f.timestamps.createdate }}</td>
            <td>{{ f.timestamps.publicationdate }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="10">(no files)</td>
    {% endfor %}
        </tbody>
    </table>
    </div>
</div>
