
<!-- title -->
<div id="title-block" class="row">
    <span id="title">{{ ds.title}}</span>
</div>
<!-- citation block -->
<div id="citation-block" class="row">
    <div class="col-xs-12 alert alert-info bg-citation">
        <div class="row ">
            {#{ citation_block }#}
            <div id="citation" class="col-xs-7 col-md-8">
            {% for a in citation_block.author %}
                {{ a.authorName }}{% if not forloop.last %}; {% else %}, {% endif %}
            {% endfor %}
            {{ citation_block.dsDescription.0.dsDescriptionDate }},
            "{{ ds.title}}",
            <a href="{{ ds.persistentIdInfo.persistentUrl }}">{{ ds.persistentIdInfo.persistentId }}</a>,
            Harvard Dataverse, {{ ds.semanticVersionInfo.semantic_version }}
            </div>
        </div>
    </div>
</div>
