{% load humanize %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{padding: 40px;}
    </style>
    {% block extra_header_info %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    {% endblock %}
  </head>
  <body>

	<div class="container">
        {% block main_content %}
<!-- start: preview_rows.html -->
<div class="row">
    <div class="col-sm-12">
        <p class="help-block"><span class="glyphicon glyphicon-info-sign"></span> Here is a preview of the first few rows of your data file</p>
        {% if total_row_count > preview_row_count %}
            <!-- show # rows set in NUM_PREVIEW_ROWS -->
            <p>
                Displaying <b>{{ preview_row_count|intcomma }}</b> of <b>{{ total_row_count|intcomma }}</b> row{{ total_row_count|pluralize }}
            </p>
        {% else %}
            <!-- show all rows -->
            <p>
                Displaying all <b>{{ total_row_count|intcomma }} row{{ total_row_count|pluralize }}</b>
            </p>
        {% endif %}

    <!-- START: Preview table -->
    <table id="preview-tbl" class="table table-bordered table-hover table-striped table-condensed small">
        <thead>
            <tr>
                <th>Row #</th>
                {% for col in column_names %}
                    <th><span class="geo_col_select">{{ col }}</span></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                {% for val in row %}
                    <td>{{ val }}</td>
                {% empty %}
                (No rows to display)
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- END: Preview table -->
    </div><!-- end col -->
</div><!-- end row -->
<!-- end: preview_rows.html -->
<script>

$( document ).ready(function() {

    var previewTable = $('#preview-tbl').DataTable( {
            "info":false, // remove 'Showing 1 to n of n entries'
            "scrollX": true,
            "scrollY": 400,
            "paging" : false,
            "searching" : false
    } );
});
</script>

        {% endblock %}
    </div>

  </body>
</html>
