<!-- NOTES: remember to name the visualization div with viz plus a unique ID# -->

{% if dataverse_counts_by_month_sql %}
<div id="sql-dataverses">
    {% with SQL_STRING=dataverse_counts_by_month_sql %}
        {% include "metrics/visualizations/query_panel.html" %}
    {% endwith %}
</div>
{% endif %}
<div id="viz-dataverses" class="viz"></div>

<script>
{% comment %}
Example of "dataverse_counts_by_month" that is being iterated through

    {
      "cnt": 26,
      "yyyy_mm": "2015-04",
      "year_num": 2015,
      "month_num": 4,
      "month_name": "Apr",
      "running_total": 26
    },
{% endcomment %}

  var dataverse_counts_by_month = [
    {%for i in dataverse_counts_by_month%}

    {"Month": "{{ i.month_name }} {{ i.year_num }}", "monthNum": {{i.month_num}}, "name":"Total Dataverses", "Number of Dataverses": {{i.running_total}}, "running_total" : {{ i.running_total }}, "month_sort" : "{{ i.yyyy_mm }}", "display_name":"{{ i.month_name }} {{ i.year_num }}: {{ i.cnt }} New Dataverses"}
    {%if not forloop.last%},{%endif%}
    {%endfor%}
    ]

// data for dataverses added in one month -- not a cumulative total   {#{"Month": "{{ i.month_name }} {{ i.year_num }}", "monthNum": {{i.month_num}}, "name":"Monthly Dataverses", "Number of Dataverses": {{i.cnt}}, "month_sort" : "{{ i.yyyy_mm }}", "display_name":"{{ i.month_name }} {{ i.year_num }}: {{ i.cnt }} New Dataverses"}#}

  // instantiate d3plus

  var dv_attributes = [
    {"name": "Total Dataverses", "hex": "#CF3636"},
    {"name": "Number of Dataverses", "hex": "#ffcc00"},
    {"name": "Monthly Dataverses", "hex": "#ffcc00"}
  ]

$( document ).ready(function() {

      var visualization = d3plus.viz()
        .container("#viz-dataverses")  // container DIV to hold the visualization
        .data(dataverse_counts_by_month)  // data to use with the visualization
        .type("bar")       // visualization type
        .id("name")         // key for which our data is unique on
        .text("display_name")       // key to use for display text
        .y({ "value":"Number of Dataverses",
            "range": get_metrics_viz_range(dataverse_counts_by_month, 500)
            })         // key to use for y-axis
        .x({ "value":"Month"})          // key to use for x-axis
        .attrs(dv_attributes)
        .color("hex")
        .order({
            "sort": "asc",
            "value": "month_sort"
         })
        .legend({"labels":true})
        .resize(true)
        .title("Dataverses Added Over Time")
        //.footer("{%lorem%}")
        .draw()             // finally, draw the visualization!
});
</script>
