{% load humanize %}
<!-- NOTES: remember to name the visualization div with viz plus a unique ID# -->

<div id="viz-file-downloads" class="viz"></div>
<script>

  var file_downloads_by_month = [
    {% for i in file_downloads_by_month %}

    {"Month": "{{ i.month_name }} {{ i.year_num }}", "monthNum": {{i.month_num}}, "name":"Total File Downloads", "File Downloads": {{i.running_total}}, "month_sort" : "{{ i.yyyy_mm }}", "display_name":"{{ i.month_name }} {{ i.year_num }}: {{ i.cnt|intcomma }} downloads / total: {{ i.running_total|intcomma }}"}
    {#{"Month": "{{ i.month_name }} {{ i.year_num }}", "monthNum": {{i.month_num}}, "name":"Monthly File Downloads", "File Downloads": {{i.cnt}}, "month_sort" : "{{ i.yyyy_mm }}", "display_name":"{{ i.month_name }} {{ i.year_num }}: {{ i.cnt|intcomma }} downloads / total: {{ i.running_total|intcomma }}"}#}
    {%if not forloop.last%},{%endif%}
    {%endfor%}
    ]


  // instantiate d3plus

  var attributes = [
    {"name": "Total File Downloads", "hex": "#b94617"},
    {"name": "Monthly File Downloads", "hex": "#ffcc00"}
  ]

  var visualization = d3plus.viz()
    .container("#viz-file-downloads")  // container DIV to hold the visualization
    .data(file_downloads_by_month)  // data to use with the visualization
    .type("line")       // visualization type
    .id("name")         // key for which our data is unique on
    .text({"value":"display_name"})       // key to use for display text
    .y("File Downloads")         // key to use for y-axis
    //.x({"stacked": true, "value": "month"}))          // key to use for x-axis
    .x({"value":"Month"})
    .attrs(attributes)
    .color("hex")
    .order({
        "sort": "asc",
        "value": "month_sort"
     })
    .resize(true)
    .title("File Downloads Over Time")
    .draw()             // finally, draw the visualization!

</script>
