<!DOCTYPE html>
<html>
  <head>
    <title>Dataverse Metrics - Page Not Found</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>

	<div class="container">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body"><p>
                    <span style="font-size: 1.3em; color:inheret;">Sorry! The Page Was Not Found. (404 Error)</span></p>
                    <p>Please return to the <a href="/metrics/basic-viz">Metrics page </a>.</p>
                </div>
        </div>

	</div>
  </body>
</html>
