{% extends "base.html" %}
{% load humanize %}

{% block title %}Fix DV Extension{% endblock %}


{% block extra_header_info %}
<style>
    body{padding: 40px;}

    table#tbl_form th, table#tbl_form td { border: none;}

    .errorlist {color: #ff0000;}
</style>
{% endblock %}

{% block main_content %}
<p class="small">
    <a href="{% url 'view_files_extensions_with_unknown_content_types' %}">&lt;&lt; Return to list of unknown content types</a>
</p>

<h2>Generate Github Ticket to Fix Extension</h2>



<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <p>Create queries to map an extension with "unknown content type" to a new content type:</p>
        <p><b>Instructions:</b></p>
        <ol>
            <li>Enter a "new content type", ideally from IANA:
                <br /> &nbsp; &nbsp; &nbsp; &gt; <a href="http://www.iana.org/assignments/media-types/media-types.xhtml" target="_blank">Official list from the  Internet Assigned Numbers Authority (IANA)</a></li>
            <li>Submit the form and copy the result into a <a href="https://github.com/IQSS/dataverse/issues/new" target="_blank">new Github issue</a></li>
        </ol>
        <hr />
        <form action="{% url 'view_fix_extension'%}" method="POST">
            {% csrf_token %}
            <table class="table table-condensed" id="tbl_form">
            {{ fix_form }}
            </table>
            <input type="submit" value="Generate markdown instructions" class="btn btn-primary" />
        </form>
    </div>
</div>
<hr />

{% if fix_instructions %}
<p>Copy the text below into a <a href="https://github.com/IQSS/dataverse/issues/new" target="_blank">new Github issue</a>.</p>
<p>It contains SQL queries to update the content type.</p>
    <pre>
        <code class="language-html" data-lang="html">
            {{ fix_instructions}}
        </code>
    </pre>
<textarea readonly>
    {{ fix_instructions}}
</textarea>
{% endif %}
{% endblock %}
