{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head id='head'>
    <title>Map Version 3.3</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
      
    <style>  
    /* H1 Styles*/
        h1 {
            font-family: monospace;
            text-align: center;
            font-size: 4em;
            background-color: white;
            margin-top: 0em;
        }
    /* Page Body Styles*/
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            background-color: lightgray;
        }
        
    /* Map Styles*/
        #map {
            height: 480px;
            width: 980px;
            margin: auto;
            position: relative;
            top: 0px;
        }
        
    </style>  
  </head>
  
  <body>

    <!--Map Object-->
      
    <h1 id="prototype">Dataverse.org MAP PROTOTYPE</h1>
      
    <div id="map"></div>
      
    <script>
        
    //Containers:
        //infoWindow Container 
        var infoArray = [];
        var nameArray = [];
        //mapMarker Container
        var markerArray = [];
        //contains Polylines and markers
        var hostedInstitutionsArray = [];
    //Functions:
        //initialize map at Center 
        function initMap() {
            function addInstallation() {
                var arr = [];
                for(var i = 5; i < arguments.length; i = i + 2){
                    var location = new google.maps.LatLng(arguments[i], arguments[i+1]);
                    arr.push(location); 
                }
                locationArray[locationArray.length] = [new google.maps.LatLng(arguments[0], arguments[1]), arguments[2], arguments[3], arguments[4], arr]    
            }
            //Installation Location Data
            {var abacusVerse = new google.maps.LatLng(49.259982, -123.250212);
            var cimmytVerse = new google.maps.LatLng(19.531535, -98.846064);
            var dansVerse = new google.maps.LatLng(52.54726, 5.242346);
            var dataspaceVerse = new google.maps.LatLng(22.336281, 114.266721);
            var fudanVerse = new google.maps.LatLng(31.29854, 121.50132);
            var harvardVerse = new google.maps.LatLng(42.375694, -71.113798);
            var heidelbergVerse = new google.maps.LatLng(41.113927, -83.166451);
            var ibictVerse = new google.maps.LatLng(-15.805842, -47.881369);
            var internationalVerse = new google.maps.LatLng(52.369021, 4.939226);
            var johnsVerse = new google.maps.LatLng(39.329055, -76.620335);
            var libraVerse = new google.maps.LatLng(38.034578, -78.507394);
            var odumVerse = new google.maps.LatLng(35.905022, -79.050851);
            var pekingVerse = new google.maps.LatLng(39.986667, 116.311425);                                
            var uitVerse = new google.maps.LatLng(69.679749, 18.97127);
            var unbralVerse = new google.maps.LatLng(-23.565774, -46.319782);
            var albertaVerse = new google.maps.LatLng(53.523538, -113.523486);
            var maineVerse = new google.maps.LatLng(44.901346, -68.669681);}
          
            //Dataverse Hosted Institution Location (many arrays)
            {var subAbacus = [new google.maps.LatLng(49.278745, -122.919765), new google.maps.LatLng(53.892195, -122.814331),new google.maps.LatLng(48.462738, -123.312208)];
            var subCimmyt = [];
            var subDans = [new google.maps.LatLng(52.090087, 5.122366),new google.maps.LatLng(51.563027, 5.042295),new google.maps.LatLng(50.847114, 5.686326),new google.maps.LatLng(53.219045, 6.562504),new google.maps.LatLng(51.917837, 4.525422),new google.maps.LatLng(52.000524, 4.371293),new google.maps.LatLng(51.448168, 5.490908),new google.maps.LatLng(52.238496, 6.857085)];
            var subDataspace = [];
            var subFudan = [];
            var subHarvard = [new google.maps.LatLng(42.334978, -71.168773), new google.maps.LatLng(42.359662, -71.092013),new google.maps.LatLng(42.256202, -72.573854),new google.maps.LatLng(34.747302, -92.320537),new google.maps.LatLng(45.480490, -122.630090),new google.maps.LatLng(42.817780, -75.538588),new google.maps.LatLng(40.006628, -75.306155),new google.maps.LatLng(37.485062, -122.148010),new google.maps.LatLng(38.904012, -77.046007),new google.maps.LatLng(14.562077, 121.033381),new google.maps.LatLng(46.048948, 14.504005),new google.maps.LatLng(38.897520, -77.013005),new google.maps.LatLng(38.889799, -77.009059)];
            var subHeidelberg = [];
            var subIbict = [];
            var subInternational = [];
            var subJohns = [];
            var subLibra = [];
            var subOdum = [new google.maps.LatLng(36.211187, -81.677869), new google.maps.LatLng(38.831484, -77.308977),new google.maps.LatLng(33.792252, -84.324085),new google.maps.LatLng(36.066131, -79.806556),new google.maps.LatLng(28.064354, -80.623298),new google.maps.LatLng(29.644791, -82.350494), new google.maps.LatLng(35.308756, -83.184485),new google.maps.LatLng(35.606445, -77.365649),new google.maps.LatLng(39.169888, -86.514373),new google.maps.LatLng(34.021694, -118.285589),new google.maps.LatLng(36.067208, -94.173741), new google.maps.LatLng(44.460995, -93.155651),new google.maps.LatLng(33.947516, -83.377805),new google.maps.LatLng(41.807500, -72.252993),new google.maps.LatLng(36.001061, -78.938443)];
            var subPeking = [];
            var subUit = [];
            var subUnbral = [];
            var subAlberta = [];
            var subMaine = [new google.maps.LatLng(47.250275, -68.589503),new google.maps.LatLng(43.457971, -70.389157),new google.maps.LatLng(43.661841, -70.275698)];}
            
            //Main Location Array
                //[location (google map location), size (int), title (string), file name (string), Hosted institutions location (array)]
            var locationArray = [ 
                                 [abacusVerse,9, 'Abacus Dataverse', "{% static 'logos/abacus.png' %}", subAbacus] , 
                                 [cimmytVerse,3, 'CIMMYT Dataverse', "{% static 'logos/cimmyt.gif' %}", subCimmyt] , 
                                 [dansVerse,101, 'DANS Dataverse', "{% static 'logos/dans.png' %}", subDans] , 
                                 [dataspaceVerse,3, 'DataSpace@HKUST Dataverse', "{% static 'logos/dataspace.png' %}", subDataspace] , 
                                 [fudanVerse,65, 'Fudan University Dataverse', "{% static 'logos/fudan.png' %}", subFudan] , 
                                 [harvardVerse,1657,'Harvard Dataverse', "{% static 'logos/harvard.png' %}", subHarvard] , 
                                 [heidelbergVerse,18,'Heidelberg University Dataverse', "{% static 'logos/heidelberg.jpg' %}", subHeidelberg],
                                 [ibictVerse,21,'IBICT Dataverse', "{% static 'logos/ibict.png' %}", subIbict] , 
                                 [internationalVerse,17,'International Institute of Social History Dataverse', "{% static 'logos/international.png' %}", subInternational] , 
                                 [johnsVerse,8,'Johns Hopkins Dataverse', "{% static 'logos/johns.gif' %}", subJohns] , 
                                 [libraVerse,11,'Libra Data (University of Virginia)', "{% static 'logos/libra.png' %}", subLibra] , 
                                 [odumVerse,51,'Odum Dataverse', "{% static 'logos/odum.png' %}", subOdum] , 
                                 [pekingVerse,16,'Peking University Open Research Data Platform', "{% static 'logos/peking.png' %}", subPeking] , 
                                 [uitVerse,2,'UiT The Arctic University of Norway Dataverse', "{% static 'logos/uit.jpg' %}", subUit] , 
                                 [unbralVerse,1,'UnBral Fronteiras Dataverse', "{% static 'logos/unbral.jpg' %}", subUnbral] , 
                                 [albertaVerse,39,'University of Alberta Dataverse', "{% static 'logos/alberta.png' %}", subAlberta] , 
                                 [maineVerse,40,'Maine Dataverse',"{% static 'logos/maine.png' %}" , subMaine] 
                                ];
            
            //++++++++++++++++++++++++++++++++ADD INSTALLATIONS HERE+++++++++++++++++++++++++++
            //(latitude, longitude, 'title', 'imagefile', (as many latitude, longitude pairs as you want))
            
            
            
            
            
            //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            //Map Options
            var center = new google.maps.LatLng(30, 0);
            var zoom = 2;
            var minZoom = 2;
            
            //Map Constructor
            var dataverseMap = newMap(center, zoom, minZoom);
            
            
            
            //initiate dataverse markers
            for (var i = 0; i < locationArray.length; i++){ 
                initMarker(i, locationArray, dataverseMap);
                initHostedInstitutions(i, locationArray, dataverseMap);
            };
            
            //Control Bar
            initControlBar(dataverseMap, locationArray, infoArray, markerArray); 
        }
        
        //creates new map at location center 
        function newMap(center, zoom, minZoom) { 
            var dataverseMap = new google.maps.Map(document.getElementById('map'), {
                center: center,
                zoom: zoom,
                minZoom: minZoom,
                streetViewControl: false
            });
            return dataverseMap;
        }
        
        //creates control bar object
        function initControlBar(map, locationArray, infoArray, markerArray){
            var controlBarDiv = document.createElement('div');
            controlBarDiv.style.position = 'absolute';
            controlBarDiv.style.top = '404px';
            controlBarDiv.style.overflow = 'show';
            var controlBar = new ControlBar(controlBarDiv, map, locationArray, infoArray, markerArray);
            controlBarDiv.index = 0;
            map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(controlBarDiv);
        }
        
        //initialize markers & infowindows at dataverses in map data
        function initMarker(i, locationArray, dataverseMap){
        
            //size threshold for icon image
            var threshold1 = 11;
            var threshold2 = 52;
         
            //info window
            var contentString = 
                    '<div id="window" style="width:500px; height:289px; border:0; margin:0" >' +
        
                    '<h1 id="title" style="font-size: 20px; margin:0; margin-top:0; margin-bottom:0; font-family:monospace; border:0px white;">' + locationArray[i][2] + '</h1>' +
                
                '<iframe id="dataverse-widget" src="https://dataverse-internal.iq.harvard.edu/dataverse/root?widget=dataverse@root" width="100%" height="260" style="border:0; background:url(https://dataverse-internal.iq.harvard.edu/resources/images/ajax-loading.gif) no-repeat 50% 50%;"></iframe>' + '</div>';
            
            //Initialize small icon
            if(locationArray[i][1] < threshold1){
                var small = {
                    url: "{% static 'small.png' %}",
                    anchor: new google.maps.Point(5,5)
                }
                var newMarker = new google.maps.Marker({
                    position: locationArray[i][0],
                    map: dataverseMap,
                    icon: small
                });
                var infowindow = new google.maps.InfoWindow({
                content: contentString
                });
                
                var titlewindow = new google.maps.InfoWindow({
                    content: locationArray[i][2]
                });
                
                newMarker.addListener('click', function() {
                    closeAllInfoWindows();
                    infowindow.open(dataverseMap, newMarker);
                    expandLogo(i);
                    hideAllMarkers(markerArray[i]);
                });
                
                infowindow.addListener('closeclick', function() {
                    shrinkLogo();
                    showAllMarkers();
                    dataverseMap.panTo({lat: 30, lng: 0});
                    dataverseMap.setZoom(2);
                });
                
                markerArray.push(newMarker);
                infoArray.push(infowindow);
                nameArray.push(titlewindow);
                
            } else if(locationArray[i][1] < threshold2){
                var medium = {
                    url: "{% static 'medium.png' %}",
                    anchor: new google.maps.Point(8,8)
                }
                var newMarker = new google.maps.Marker({
                    position: locationArray[i][0],
                    map: dataverseMap,
                    icon: medium
                });
                var infowindow = new google.maps.InfoWindow({
                content: contentString
                });
                
                 var titlewindow = new google.maps.InfoWindow({
                    content: locationArray[i][2]
                });
                
                newMarker.addListener('click', function() {
                    closeAllInfoWindows();
                    infowindow.open(dataverseMap, newMarker);
                    expandLogo(i);
                    hideAllMarkers(markerArray[i]);
                });
                
                infowindow.addListener('closeclick', function() {
                    shrinkLogo();
                    showAllMarkers();
                    dataverseMap.panTo({lat: 30, lng: 0});
                    dataverseMap.setZoom(2);
                });
                
                markerArray.push(newMarker);
                infoArray.push(infowindow);
                nameArray.push(titlewindow);
            } else {
                var large = {
                    url: "{% static 'large.png' %}",
                    anchor: new google.maps.Point(13,13)
                }
                var newMarker = new google.maps.Marker({
                    position: locationArray[i][0],
                    map: dataverseMap,
                    icon: large
                });
                var infowindow = new google.maps.InfoWindow({
                content: contentString
                });
                
                 var titlewindow = new google.maps.InfoWindow({
                    content: locationArray[i][2]
                });
                
                newMarker.addListener('click', function() {
                    closeAllInfoWindows();
                    infowindow.open(dataverseMap, newMarker);
                    expandLogo(i);
                    hideAllMarkers(markerArray[i]);
                }); 
                
                infowindow.addListener('closeclick', function() {
                    shrinkLogo();
                    showAllMarkers();
                    dataverseMap.panTo({lat: 30, lng: 0});
                    dataverseMap.setZoom(2);
                });
        
                markerArray.push(newMarker);
                infoArray.push(infowindow);
                nameArray.push(titlewindow);
            }   
        }
        
        //initialize sub dataverses
        function initHostedInstitutions(i, locationArray, dataverseMap){
            var positionArray = locationArray[i][4];
            var institutionArray = [];
            for (var j = 0; j < positionArray.length; j++){
                var small = {
                    url: 'subs.png',
                    anchor: new google.maps.Point(5,5)
                }
                var newMarker = new google.maps.Marker({
                    position: positionArray[j],
                    icon: small,
                    color: '#BBB'
                    
                });
                var connector = new google.maps.Polyline({
                    path: [locationArray[i][0],positionArray[j]],
                    geodesic: true,
                    strokeColor: 'black',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });
                institutionArray.push(newMarker);
                institutionArray.push(connector);
            }
            hostedInstitutionsArray.push(institutionArray); 
        }
        
        function showHostedInstitutions(i, dataverseMap){
            var subverse = hostedInstitutionsArray[i];
            for(var i = 0; i < subverse.length; i = i + 2){  
            subverse[i].setMap(dataverseMap);
            subverse[i+1].setMap(dataverseMap);
            }
        }
        //closes all clusters
        function closeAllClusters(){
            for(var j = 0; j < hostedInstitutionsArray.length; j++){
                var subverse = hostedInstitutionsArray[j];
                for(var i = 0; i < subverse.length; i = i + 2){ 
                    subverse[i].setMap(null);
                    subverse[i+1].setMap(null);
                }
            } 
        }
        
        //closes all open infoWindows
        function closeAllInfoWindows(){
            for(var i = 0; i < infoArray.length; i++){
                    infoArray[i].close();
            }
        }
        
        function closeAllInfoWindows(id){
            for(var i = 0; i < infoArray.length; i++){
                if(id == i)
                    continue;
                else {
                    infoArray[i].close();
                }
            }
        }
        
        function openTitle(index, dataverseMap) {
            nameArray[index].open(dataverseMap, markerArray[index]);
        }
        
        function closeAllTitles(){
            for(var i = 0; i < infoArray.length; i++){
                    nameArray[i].close();
            }
        }
        
        function isInfoWindowOpen(infoWindow){
            var map = infoWindow.getMap();
            return (map !== null && typeof map !== "undefined");
        }
        
        //hides all markers
        function hideAllMarkers(){
            for(var i = 0; i < markerArray.length; i++){
                markerArray[i].setOpacity(.4);
            }
        }
        
        //hides all markers except argument marker
        function hideAllMarkers(marker){
            for(var i = 0; i < markerArray.length; i++){
                if(markerArray[i] == marker){
                    markerArray[i].setOpacity(1);
                } else {
                    markerArray[i].setOpacity(.4);
                }
            }
        }
        
        //shows all markers
        function showAllMarkers(){
            for(var i = 0; i < markerArray.length; i++){
                markerArray[i].setOpacity(1);
            }
        }
        
        function setDefaultView(dataverseMap){
            dataverseMap.setCenter({lat: 30, lng: 0});
            dataverseMap.setZoom(2);
        }
        
        //expands and highlights logo
        function expandLogo(id){
            var obj = document.getElementById(id);
            obj.style.width = '56px';
            obj.style.height = '56px';
            obj.style.margin = '0px';
            obj.style.marginTop = '2px';
            obj.style.border = '2px solid orange';
            
            for(var i = 0; i < markerArray.length; i++){
                if(i != id){
                    var obj = document.getElementById(i);
                    obj.style.width = '46px';
                    obj.style.height = '46px';
                    obj.style.margin = '5px';
                    obj.style.marginTop = '12px';
                    obj.style.border = '2px solid black'
                }
            }  
        }
        
        //shrinks and removes highlight
        function shrinkLogo(){
            for(var i = 0; i < markerArray.length; i++){
                var obj = document.getElementById(i);
                obj.style.width = '46px';
                obj.style.height = '46px';
                obj.style.margin = '5px';
                obj.style.marginTop = '12px';
                obj.style.border = '2px solid black';
            }   
        }
        
        function scrollLeftDiv(int){
             if (int == 0)
                return;
            setTimeout(function () {
                    document.getElementById("D").scrollLeft += 1;
                    scrollLeftDiv(int-1);
            }, (800/(int+8))-4);
        }
        
        function scrollRightDiv(int){
             if (int == 0)
                return;
            setTimeout(function () {
                    document.getElementById("D").scrollLeft -= 1;
                    scrollRightDiv(int-1);
            }, (800/(int+8))-4);
        }
        
        //Control Bar CSS, click, and animation settings
        function ControlBar(controlDiv, dataverseMap, locationArray, infoArray, markerArray) {

            // Countainer CSS
            var controlUI = document.createElement('div');
            controlUI.style.backgroundColor = 'translucent';
            controlUI.style.cursor = 'pointer';
            controlUI.style.marginBottom = '0';
            controlUI.style.marginRight = '0px';
            controlUI.style.display = 'inline-block';
            controlUI.style.width = '700px';
            controlUI.style.height = '65px';
            controlUI.style.overflow = 'auto';
            controlDiv.appendChild(controlUI);
            
            var controlUI2 = document.createElement('div');
            controlUI2.style.width = '700px';
            controlUI2.style.height = '80px';
            controlUI2.style.position = 'absolute';
            controlUI2.style.right = '0px';
            controlUI2.style.margin = '0px';
            controlUI2.style.display = 'inline-block';
            controlUI2.style.overflow = 'auto';
            controlUI2.id = 'D';
            controlUI.appendChild(controlUI2);
            
            // ControllUI events 
            controlUI.addEventListener('mouseleave', function(){
                var status = false;
                for(var i = 0; i < infoArray.length; i++){
                    if(isInfoWindowOpen(infoArray[i]))
                        status = true; 
                }
                console.log(status);
                if(!status) {
                    shrinkLogo();  
                    showAllMarkers();
                }
            });
            
            //Scroll bar
            var innerControlUI = document.createElement('div');
            var scrollLength = locationArray.length * 65;
            innerControlUI.style.width = scrollLength + 'px'; 
            controlUI2.appendChild(innerControlUI);
            
            //left button
            var leftBtn = document.createElement('div');
            controlUI.appendChild(leftBtn);
        
            //right button
            var rightBtn = document.createElement('div');
            controlUI.appendChild(rightBtn);
            
            var rightChevron = document.createElement('img');
            rightChevron.src = "{% static 'logos/chevron_right.png' %}";
            rightChevron.opacity = '.5';
            rightChevron.style.height = '40px';
            rightChevron.style.width = '20px';
            rightChevron.style.position = 'absolute';
            rightChevron.style.top = '17px';
            rightChevron.style.right = '-25px';
            rightBtn.appendChild(rightChevron);
            
            var leftChevron = document.createElement('img');
            leftChevron.src = "{% static 'logos/chevron_left.png' %}";
            leftChevron.opacity = '.5';
            leftChevron.style.height = '40px';
            leftChevron.style.width = '20px';
            leftChevron.style.position = 'absolute';
            leftChevron.style.top = '17px';
            leftChevron.style.left = '-25px';
            leftBtn.appendChild(leftChevron);
            
            leftChevron.addEventListener('click', function(){
                scrollRightDiv(120);
            });
            
            rightChevron.addEventListener('click', function(){
                scrollLeftDiv(120);
            });
            
            //Bar title
            /*var divTitle = document.createElement('h2');
            divTitle.style.width = scrollLength;
            divTitle.innerHTML = 'Browse Dataverse Installations Around the World';
            divTitle.style.lineHeight = '1';
            divTitle.style.marginTop = '0px';
            divTitle.style.marginBottom ='0px';
            divTitle.style.lineHeight = '1';
            divTitle.style.position = 'absolute';
            divTitle.style.textIndent = '180px';
            controlUI.appendChild(divTitle)*/
            
            // Set CSS for each icon
            for(var i = 0; i < locationArray.length; i++){
            //img container
                var imgDiv = document.createElement('div');
                imgDiv.style.height = '46px';
                imgDiv.style.width = '46px';
                imgDiv.style.overflow = 'hidden';
                imgDiv.style.float = 'left';
                imgDiv.style.marginLeft = '5px';
                imgDiv.style.marginRight = '5px';
                imgDiv.style.marginBottom = '0px';
                imgDiv.style.marginTop = '12px';
                imgDiv.style.border = '2px solid black';
                imgDiv.style.backgroundColor = '#fff';
                imgDiv.id = i;
                innerControlUI.appendChild(imgDiv);
             //img
                var img = document.createElement('img');
                img.src = locationArray[i][3];
                img.style.height = '48px';
                img.style.alt = locationArray[i][1];
                img.style.margin = 'auto';
                img.style.marginTop = 'auto';
                img.style.marginBottom = '0';
                img.style.border = '0';
                img.style.backgroundColor = 'solid white';
                img.style.title = locationArray[i][1];
                imgDiv.appendChild(img);
                
                //event listeners for icon mouseover and click
                imgDiv.addEventListener('mouseover', function mouseover(imgDiv) {
                    var index = this.id;
                    var center = locationArray[index][0];
                    //closeAllClusters();
                    if(index == 0){
                        if (isInfoWindowOpen(infoArray[parseInt(index) + 1]));
                        else {
                            closeAllInfoWindows(index);
                            openTitle(index, dataverseMap);
                        }
                    }else if(index == (markerArray.length - 1)) {
                        if (isInfoWindowOpen(infoArray[parseInt(index) - 1]));
                        else {
                            closeAllInfoWindows(index);
                            openTitle(index, dataverseMap);
                        }
                    }else {
                        if (isInfoWindowOpen(infoArray[parseInt(index) + 1])||isInfoWindowOpen(infoArray[parseInt(index) - 1]));
                        else {
                            closeAllInfoWindows(index);
                            openTitle(index, dataverseMap);
                        }
                    } 
                    //showHostedInstitutions(index, dataverseMap);
                    hideAllMarkers(markerArray[index]);
                    expandLogo(index);
                    
                });
                imgDiv.addEventListener('mouseout', function mouseout(imgDiv) {
                    var index = this.id;
                    var center = locationArray[index][0];
                    closeAllTitles();
                    //closeAllClusters();
                }); 
                imgDiv.addEventListener('click', function click(imgDiv) {
                    var index = this.id;
                    closeAllInfoWindows();
                    closeAllTitles();
                    
                    if (dataverseMap.getZoom() < 3){ 
                        dataverseMap.setZoom(dataverseMap.getZoom() + 1);
                    }    
                    infoArray[index].open(dataverseMap, markerArray[index]);
                });    
            }
            
            dataverseMap.addListener('dblclick', function(){ 
                shrinkLogo();
                closeAllInfoWindows();
                showAllMarkers();
                
            });
        }
  
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8D0vQA1vP9HbbDwaye36Q4xGJO2t_Lik&callback=initMap"
    async defer></script>
  </body>
</html>