{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head id='head'>
    <title>Map Version 3.3</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel='stylesheet' href='{% static "CSS/map.css" %}'>  
  </head>
  <body>

    <!--Map Object-->
      
    <h1 id="prototype">Dataverse.org MAP PROTOTYPE</h1>
      
    <div id="map"></div>
      
    <script>
        
    //Containers:
        //infoWindow Container 
        var infoArray = [];
        var nameArray = [];
        //mapMarker Container
        var markerArray = [];
        var installationContainer = [];
        var installationContainerHighlighted = [];
        //contains Polylines and markers
        var hostedInstitutionsArray = [];
   
        //Functions:
        
        //-----initialize map at Center----- 
        function initMap() {
            function addInstallation() {
                var arr = [];
                for(var i = 5; i < arguments.length; i = i + 2){
                    var location = new google.maps.LatLng(arguments[i], arguments[i+1]);
                    arr.push(location); 
                }
                locationArray[locationArray.length] = [new google.maps.LatLng(arguments[0], arguments[1]), arguments[2], arguments[3], arguments[4], arr]    
            }
            
            //Installation Location Data
//0           1       2         3         4       5              6           7      8
//coordinates size    name      logo      null    description    version     marker []
            
            
            var locationArray = [
            {%for i in install_list%}{% spaceless %}
             [new google.maps.LatLng({{i.lat}},{{i.lng}}), 52, "{{i.name}}", {%if i.logo%}"{{i.logo.url}}"{%else%}"{% static 'logos/harvard.png' %}"{%endif%}, null, "{{i.description}}", "{{i.version}}", {%if i.marker%}"{{i.marker.url}}"{%else%}""{%endif%}]
                {% if not forloop.last %},{%endif%}
                {% endspaceless %}
            {%endfor%}
            ]
            
            var institutionArray = [
            {%for a in arr%}
                [{% spaceless %}
                {%for z in a%}
                 {%if z.lat and z.lng%}
                new google.maps.LatLng(parseFloat({{z.lat}}),parseFloat({{z.lng}})){%endif%}{% if not forloop.last %},{%endif%}
                {%endfor%}
                {% endspaceless %}]{% if not forloop.last %},{%endif%}
                {%endfor%}     
            ]
            
            //Map Options
            var center = new google.maps.LatLng(30, 0);
            var zoom = 2;
            var minZoom = 2;
            
            //Map Constructor
            var dataverseMap = newMap(center, zoom, minZoom);
      
            initInstitutions(institutionArray, dataverseMap);
            for(var i = 0; i < institutionArray.length; i++){
                initInstitutionsHighlight(institutionArray, dataverseMap, locationArray[i][7], i);
            }
                
             //initiate dataverse markers
            for (var i = 0; i < locationArray.length; i++){ 
                initMarker(i, locationArray, dataverseMap);
                //initHostedInstitutions(i, locationArray, dataverseMap);
            };

            //Control Bar
            initControlBar(dataverseMap, locationArray, infoArray, markerArray); 
        }
        
        //creates new map at location center 
        function newMap(center, zoom, minZoom) { 
            var dataverseMap = new google.maps.Map(document.getElementById('map'), {
                center: center,
                zoom: zoom,
                minZoom: minZoom,
                streetViewControl: false
            });
            return dataverseMap;
        }
        
        //creates control bar object
        function initControlBar(map, locationArray, infoArray, markerArray){
            var controlBarDiv = document.createElement('div');
            controlBarDiv.style.position = 'absolute';
            controlBarDiv.style.top = '404px';
            controlBarDiv.style.overflow = 'show';
            var controlBar = new ControlBar(controlBarDiv, map, locationArray, infoArray, markerArray);
            controlBarDiv.index = 0;
            map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(controlBarDiv);
        }
             
        function initInstitutions(institutionArray, dataverseMap){
            for(var i = 0; i < institutionArray.length; i++){
                var Array = [];
                for(var j = 0; j < institutionArray[i].length; j++){
                    var newMarker = new google.maps.Marker({
                        position: institutionArray[i][j],
                        map: dataverseMap,
                        icon: "{% static 'subs.png' %}",
                        zIndex: google.maps.Marker.MIN_ZINDEX - 1
                    });
                    newMarker.setOpacity(.3);
                    Array.push(newMarker);
                }
                installationContainer.push(Array);
            }
        }
             
        function initInstitutionsHighlight(institutionArray, dataverseMap, custom_marker, i){
            var Array = [];
            for(var j = 0; j < institutionArray[i].length; j++){
                    console.log("'"+ custom_marker + "'")
                    var newMarker = new google.maps.Marker({
                        position: institutionArray[i][j],
                        map: dataverseMap,
                        icon: custom_marker,
                        zIndex: google.maps.Marker.MIN_ZINDEX - 1
                    });
                newMarker.setOpacity(0);
                Array.push(newMarker);
            }
            installationContainerHighlighted.push(Array);
        }
            
        //initialize markers & infowindows at dataverses in map data
        function initMarker(i, locationArray, dataverseMap){
        
            //size threshold for icon imag
            var threshold1 = 11;
            var threshold2 = 52;
         
            //info window
            
            if(locationArray[i][5] !== 'None')
                var titleString = '<h2 style="font-family:monospace; font-size: 1.25em;">' + locationArray[i][2] + '</h2>'+ '<p>' + locationArray[i][5] + '</p>';
            else var titleString = '<h2 style="font-family:monospace; font-size: 1.25em;">' + locationArray[i][2] + '</h2>'
            
            //Widget Infowindows -- Uncomment to activate
            /*
            if (Number(locationArray[i][6]) < 4.4) {
                console.log(Number(locationArray[i][6]));
                var contentString = titleString;
            }
            else {
                var contentString = 
                    '<div id="window" style="width:500px; height:289px; border:0; margin:0" >' +

                    '<h1 id="title" style="font-size: 20px; margin:0; margin-top:0; margin-bottom:0; font-family:monospace; border:0px white;">' + locationArray[i][2] + '</h1>' +

                    '<iframe id="dataverse-widget" src="https://dataverse-internal.iq.harvard.edu/dataverse/root?widget=dataverse@root" width="100%" height="260" style="border:0; background:url(https://dataverse-internal.iq.harvard.edu/resources/images/ajax-loading.gif) no-repeat 50% 50%;"></iframe>' + '</div>'
                }
            */
            
            var contentString = 
                    '<div id="window" style="width:500px; height:289px; border:0; margin:0" >' +

                    '<h1 id="title" style="font-size: 20px; margin:0; margin-top:0; margin-bottom:0; font-family:monospace; border:0px white;">' + '<a href="https://dataverse-internal.iq.harvard.edu/">' + locationArray[i][2] + '</a>' + '</h1>' + '<div class="metricsdiv">' + '<h2 class="metricstitle">Dataverse Metrics</h2>' + '<ul class="metrics">' + '<li>' + 'Dataverses: (1,767)' + '</li>' + '<br>' + '<li>' + 'Datasets: (62,026)' + '</li>' + '<br>' + '<li>' + 'Files: (332,593)' + '</li>' + '<br>' + '<li>' + 'Downloads: (1,822,212)' + '</li>'+ '<br>' + '</ul>' + '</div>' + '</div>'

            
            //Initialize small icon
            if(locationArray[i][1] < threshold1){
                var small = {
                    url: "{% static 'small.png' %}",
                    anchor: new google.maps.Point(5,5)
                }
                var newMarker = new google.maps.Marker({
                    position: locationArray[i][0],
                    map: dataverseMap,
                    icon: small
                });
                var infowindow = new google.maps.InfoWindow({
                content: contentString
                });
                
                var titlewindow = new google.maps.InfoWindow({
                    content: titleString,
                    disableAutoPan: true
                    
                });
                
                newMarker.addListener('click', function() {
                    closeAllInfoWindows();
                    infowindow.open(dataverseMap, newMarker);
                    expandLogo(i);
                });
                
                infowindow.addListener('closeclick', function() {
                    shrinkLogo();
                    showAllMarkers();
                    dataverseMap.panTo({lat: 30, lng: 0});
                    dataverseMap.setZoom(2);
                });
                
                markerArray.push(newMarker);
                infoArray.push(infowindow);
                nameArray.push(titlewindow);
                
            } else if(locationArray[i][1] < threshold2){
                var medium = {
                    url: "{% static 'medium.png' %}",
                    anchor: new google.maps.Point(8,8)
                }
                var newMarker = new google.maps.Marker({
                    position: locationArray[i][0],
                    map: dataverseMap,
                    icon: medium
                });
                var infowindow = new google.maps.InfoWindow({
                content: contentString
                });
                
                 var titlewindow = new google.maps.InfoWindow({
                    content: titleString,
                    disableAutoPan: true
                });
                
                newMarker.addListener('click', function() {
                    closeAllInfoWindows();
                    infowindow.open(dataverseMap, newMarker);
                    expandLogo(i);
                });
                
                infowindow.addListener('closeclick', function() {
                    shrinkLogo();
                    showAllMarkers();
                    dataverseMap.panTo({lat: 30, lng: 0});
                    dataverseMap.setZoom(2);
                });
                
                markerArray.push(newMarker);
                infoArray.push(infowindow);
                nameArray.push(titlewindow);
            } else {
                var large = {
                    url: "{% static 'large.png' %}",
                    anchor: new google.maps.Point(13,13)
                }
                var newMarker = new google.maps.Marker({
                    position: locationArray[i][0],
                    map: dataverseMap,
                    icon: large
                });
                var infowindow = new google.maps.InfoWindow({
                content: contentString
                });
                
                 var titlewindow = new google.maps.InfoWindow({
                    content: titleString,
                    disableAutoPan: true
                });
                
                newMarker.addListener('click', function() {
                    closeAllInfoWindows();
                    infowindow.open(dataverseMap, newMarker);
                    expandLogo(i);
                }); 
                
                infowindow.addListener('closeclick', function() {
                    shrinkLogo();
                    showAllMarkers();
                    dataverseMap.panTo({lat: 30, lng: 0});
                    dataverseMap.setZoom(2);
                });
        
                markerArray.push(newMarker);
                infoArray.push(infowindow);
                nameArray.push(titlewindow);
            }   
        }
        
        function showHostedInstitutions(i, dataverseMap){
            var subverse = hostedInstitutionsArray[i];
            for(var i = 0; i < subverse.length; i = i + 2){  
            subverse[i].setMap(dataverseMap);
            subverse[i+1].setMap(dataverseMap);
            }
        }
        //closes all clusters
        function closeAllClusters(){
            for(var j = 0; j < hostedInstitutionsArray.length; j++){
                var subverse = hostedInstitutionsArray[j];
                for(var i = 0; i < subverse.length; i = i + 2){ 
                    subverse[i].setMap(null);
                    subverse[i+1].setMap(null);
                }
            } 
        }
        
        //closes all open infoWindows
        function closeAllInfoWindows(){
            for(var i = 0; i < infoArray.length; i++){
                    infoArray[i].close();
            }
        }
        
        function closeAllInfoWindows(id){
            for(var i = 0; i < infoArray.length; i++){
                if(id == i)
                    continue;
                else {
                    infoArray[i].close();
                }
            }
        }
        
        function openTitle(index, dataverseMap) {
            nameArray[index].open(dataverseMap, markerArray[index]);
        }
        
        function closeAllTitles(){
            for(var i = 0; i < nameArray.length; i++){
                nameArray[i].close();
            }
            
        }
        
        function isInfoWindowOpen(infoWindow){
            var map = infoWindow.getMap();
            return (map !== null && typeof map !== "undefined");
        }
        
        //hides all markers
        function hideAllMarkers(){
            for(var i = 0; i < markerArray.length; i++){
                markerArray[i].setOpacity(.4);
            }
        }
        
        //hides all markers except argument marker
        function hideAllMarkers(marker){
            for(var i = 0; i < markerArray.length; i++){
                if(markerArray[i] == marker){
                    markerArray[i].setOpacity(1);
                } else {
                    markerArray[i].setOpacity(.4);
                }
            }
        }
             
        function hideMarker(marker){
            markerArray[marker].setOpacity(.4);
        }
             
        //shows all markers
        function showAllMarkers(){
            for(var i = 0; i < markerArray.length; i++){
                markerArray[i].setOpacity(1);
                markerArray[i].setZIndex(google.maps.MAX_ZINDEX + 1)
            }
        }
             
        function showMarker(marker){
            markerArray[marker].setOpacity(1);
        }
    
        
        function setDefaultView(dataverseMap){
            dataverseMap.setCenter({lat: 30, lng: 0});
            dataverseMap.setZoom(2);
        }
        
        //expands and highlights logo
        function expandLogo(id){
            var obj = document.getElementById(id);
            obj.classList.remove('small');
            obj.classList.add('large');
            for(var i = 0; i < markerArray.length; i++){
                if(i != id){
                    shrinkLogo(i);
                }
            }  
        }
        
        //shrinks and removes highlight
        function shrinkLogo(){
            for(var i = 0; i < markerArray.length; i++){
                var obj = document.getElementById(i);
                if (obj.className == 'large'){                                  
                    obj.classList.remove('large');
                }
                obj.classList.add('small');
            }   
        }
        
        function shrinkLogo(i){
            var obj = document.getElementById(i);
            if (obj != null)
                obj.classList.add('small');
        }
        
        function scrollLeftDiv(int){
             if (int == 0)
                return;
            setTimeout(function () {
                    document.getElementById("D").scrollLeft += 1;
                    scrollLeftDiv(int-1);
            }, (800/(int+8))-4);
        }
        
        function scrollRightDiv(int){
             if (int == 0)
                return;
            setTimeout(function () {
                    document.getElementById("D").scrollLeft -= 1;
                    scrollRightDiv(int-1);
            }, (800/(int+8))-4);
        }
        
        //Control Bar CSS, click, and animation settings
        function ControlBar(controlDiv, dataverseMap, locationArray, infoArray, markerArray) {

            // Countainer CSS
            var controlUI = document.createElement('div');
            controlUI.classList.add('controlUI');
            controlDiv.appendChild(controlUI);
            
            var controlUI2 = document.createElement('div');
            controlUI2.classList.add('controlUI2');
            controlUI2.id = 'D';
            controlUI.appendChild(controlUI2);
            
            //Scroll bar
            var innerControlUI = document.createElement('div');
            var scrollLength = locationArray.length * 65;
            innerControlUI.style.width = scrollLength + 'px'; 
            controlUI2.appendChild(innerControlUI);
            
            //left button
            var leftBtn = document.createElement('div');
            controlUI.appendChild(leftBtn);
        
            //right button
            var rightBtn = document.createElement('div');
            controlUI.appendChild(rightBtn);
            
            var rightChevron = document.createElement('img');
            rightChevron.src = "{% static 'logos/chevron_right.png' %}";
            rightChevron.classList.add('rightArrow');
            rightBtn.appendChild(rightChevron);
            
            var leftChevron = document.createElement('img');
            leftChevron.src = "{% static 'logos/chevron_left.png' %}";
            leftChevron.classList.add('leftArrow');
            leftBtn.appendChild(leftChevron);
            
            leftChevron.addEventListener('click', function(){
                scrollRightDiv(120);
            });
            
            rightChevron.addEventListener('click', function(){
                scrollLeftDiv(120);
            });
            
            // Set CSS for each icon
            for(var i = 0; i < locationArray.length; i++){
            //img container
                var imgDiv = document.createElement('div');
                imgDiv.classList.add('small');  
                imgDiv.id = i;
                innerControlUI.appendChild(imgDiv);
             //img
                var img = document.createElement('img');
                img.src = locationArray[i][3];
                img.classList.add('img');
                imgDiv.appendChild(img);
                
                //event listeners for icon mouseover and click
                imgDiv.addEventListener('mouseenter', function mouseover(imgDiv) {
                    var index = this.id;
                    var center = locationArray[index][0];
                    if(isInfoWindowOpen(infoArray[parseInt(index)]));
                    else {
                        expandLogo(index); 
                        closeAllInfoWindows(index);
                        openTitle(index, dataverseMap);
                    }
                    
                    for(var j = 0; j < installationContainer.length; j++){
                        for(var k = 0; k < installationContainer[j].length; k++){
                            installationContainer[j][k].setOpacity(.05);
                        }
                    }
                    
                    
                    for(var j = 0; j < installationContainer[index].length; j++){
                        if(installationContainerHighlighted[index][j].opacity == 0){
                            installationContainer[index][j].setOpacity(0);  
                            installationContainerHighlighted[index][j].setOpacity(.6);
                            for(var i = 0; i < markerArray.length; i++){
                                markerArray[i].setZIndex(google.maps.MAX_ZINDEX + 1);
                            }
                        }
                    }
                    
                    for(var i = 0; i < markerArray.length; i++){
                        markerArray[i].setZIndex(google.maps.MAX_ZINDEX + 1);
                    }
                });
                
                imgDiv.addEventListener('mouseleave', function mouseout(imgDiv) {
                    var index = this.id;
                    if(!isInfoWindowOpen(infoArray[parseInt(index)]))
                        shrinkLogo(index);
                    var center = locationArray[index][0];
                    closeAllTitles();
                    shrinkLogo();
                    
                    for(var j = 0; j < installationContainer.length; j++){
                        for(var k = 0; k < installationContainer[j].length; k++){
                            if(dataverseMap.getZoom() == 2)
                                installationContainer[j][k].setOpacity(.3);
                            else if(dataverseMap.getZoom() < 4)
                                installationContainer[j][k].setOpacity(.4);
                            else if(dataverseMap.getZoom() < 6)
                                installationContainer[j][k].setOpacity(.6);
                            else installationContainer[j][k].setOpacity(.8);
                        }
                    }
                    
                    for(var j = 0; j < installationContainer.length; j++){
                        for(var k = 0; k < installationContainer[j].length; k++){
                            installationContainerHighlighted[j][k].setOpacity(0);
                        }   
                    }
                    
                    for(var i = 0; i < markerArray.length; i++){
                        markerArray[i].setZIndex(google.maps.MAX_ZINDEX + 1);
                    }
                    
                    

                }); 
                
                imgDiv.addEventListener('click', function click(imgDiv) {
                    var index = this.id;
                    closeAllInfoWindows();
                    closeAllTitles();
                    
                    if (dataverseMap.getZoom() < 3){ 
                        dataverseMap.setZoom(dataverseMap.getZoom() + 1);
                    }    
                    infoArray[index].open(dataverseMap, markerArray[index]);
                    showAllMarkers();
                });    
            }
            
            dataverseMap.addListener('dblclick', function(){ 
                closeAllInfoWindows();
                showAllMarkers();
            });
            
            dataverseMap.addListener('tilesloaded', function(){
                for(var i = 0; i < markerArray.length; i++){
                    markerArray[i].setZIndex(google.maps.MAX_ZINDEX + 1);
                }
            });
            
            dataverseMap.addListener('zoom_changed', function(){ 
                for(var i = 0; i < installationContainer.length; i++){
                    for(var j = 0; j < installationContainer[i].length; j++){ 
                        if(dataverseMap.getZoom() == 2)
                        installationContainer[i][j].setOpacity(.3);
                        else if(dataverseMap.getZoom() < 4)
                            installationContainer[i][j].setOpacity(.4);
                        else if(dataverseMap.getZoom() < 6)
                            installationContainer[i][j].setOpacity(.6);
                        else installationContainer[i][j].setOpacity(.8);
                            installationContainer[i][j].setZIndex(google.maps.MAX_ZINDEX*(-1));
                        
                        for(var i = 0; i < markerArray.length; i++){
                                markerArray[i].setZIndex(google.maps.MAX_ZINDEX + 1);
                        }
                    }
                }
                for(var i = 0; i < markerArray.length; i++){
                    markerArray[i].setZIndex(google.maps.MAX_ZINDEX + 1);  
                    showAllMarkers();
                }
            });
        }
  
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8D0vQA1vP9HbbDwaye36Q4xGJO2t_Lik&callback=initMap"
    async defer></script>
  </body>
</html>